/* ARTICLE TEASER
*/
.row-link {
  &:hover {
    color: black !important;
  }
}

.node-article.view-mode-teaser,
.node-image-article.view-mode-teaser,
.node-external-product.view-mode-teaser_product_front,
.node-edition.view-mode-teaser_product_front,
.node-edition.view-mode-teaser {
  .field-name-content-type {
    .field-item {
      @include pill-style(white, black, white);
      height: 25px;
    }

    position: relative;
    display: inline-block;
    text-transform: uppercase;

    a:hover {
      color: $gray2 !important;
    }
  }

  // compound info
  .field-name-compound-info,
  .field-name-content-type // for products

    {
    float: left;
    height: 0px;
    position: relative;
    top: 10px;
    margin-left: 10px;
    z-index: 4;

    .article-custom-fields.compound_info {
      .inner-el {
        height: 25px;
      }

      #article-category,
      #article-sub-title {
        position: relative;
        display: inline-block;
      }

      #article-category {
        @include pill-style(white, black, white);
      }

      #article-sub-title {
        @include pill-style(rgba(white, 0.7), rgba(black, 0.7), white);
        @include border-radius(0px 12px 12px 0px);

        margin-left: -10px;
        margin-right: 10px;
        //        width: max-width: ;
      }

      #article-category,
      #article-sub-title {
        position: relative;
        z-index: 2;
        text-transform: uppercase;
        overflow: hidden;
        display: inline-block;
        //        padding: 1px 20px;
        //        white-space: nowrap;
        text-overflow: ellipsis;

        a:hover {
          color: $gray2 !important;

        }
      }

      #article-sub-title {
        //        position: absolute;
        z-index: 1;
      }
    }
  }

  .field-name-title:hover {
    a {
      color: black !important;
    }
  }

  .field-name-field-blurb {
    &:hover {
      color: black;
    }
  }

  // image field
  .field-name-field-image {

    //    max-height: 500px;
    //    margin-top: -30px;
    .field-item {
      //      overflow: hidden;
      //      max-height: 500px;

    }

    img {
      max-height: 100%;
      width: auto;
    }

    .image-field-caption {
      display: none;
      visibility: hidden;
    }
  }
}

.node-external-product.view-mode-teaser_product_front,
.node-edition.view-mode-teaser_product_front {}

/* ARTICLE TEASER - COLUMN EXCEPTION
*  MAKE IMAGE DISPLAY ROUND
*/
.node-article.teaser-square {
  .field-name-compound-info {
    position: relative;
    left: -5px;
    top: 12px;
    text-align: center;
    float: none;
  }

  .field-name-field-image {
    .field-item a {
      position: relative;
      display: block;
      @include border-radius(50%);
      overflow: hidden;
      height: 400px;
    }
  }
}

/* IMAGE ARTICLE TEASER
*/
.node-image-article.view-mode-teaser {

  //  padding-top: 30px;
  .field-name-compound-info {
    //    top: 50px;
    //    float: left;
  }

  .field-name-title {
    position: relative;
    //    top: -35px;
  }

  .field-name-field-image {
    position: relative;
    width: 100%;
    height: 435px;
    display: block;

    .field-item {
      vertical-align: top;
      //      max-height: 500px;
      //      overflow: hidden;
      position: absolute;
      top: 0px;
      @include backface-visibility(hidden);
      padding: 2px;

      //        outline: 3px solid transparent;
      img {
        outline: 1px solid transparent;
      }
    }

    .field-item:nth-child(1) {
      z-index: 3;
    }

    .field-item:nth-child(2) {
      z-index: 2;
      @include transform(rotate(4deg));
    }

    .field-item:nth-child(3) {
      z-index: 1;
      @include transform(rotate(-4deg));
    }
  }
}



/* MINI TEASER
*/
.node-article.view-mode-mini_teaser {

  // category // time
  .field-name-field-category {
    display: inline-block;
    padding-right: 5px;
  }

  // category // time
  .field-name-post-date {
    display: inline-block;
    color: $gray2;
  }

  // image field
  .field-name-field-image {
    margin-top: 10px;

    .image-field-caption {
      display: none;
    }
  }
}

#article-caption-display p sup {
  display: block !important;
  line-height: 1.2em !important;
  margin-top: 10px !important;
}

/* FULL IMAGE ARTICLE */
.page-node.node-type-image-article,
  {
  // .page-node.node-type-edition {

  .group-upper {
    .field {
      //      width: 100%;
      margin: 0 75px;

      @media (min-width: 1000px) {
        margin: 0 220px;

        img {
          margin: auto;
        }
      }
    }
  }

  .group-upper {
    //    position: fixed;
    //    z-index: -1;
    //    min-height: 700px;
    margin-bottom: 60px;

    #image-caption {
      margin-top: 30px;
      margin-bottom: 60px;
      font-size: 1.2em;
    }

    .field-name-image-info {
      img {
        margin: auto;
      }
    }

    .group-image-info {
      //      width: 100%;
      display: none;
      margin: 0px 220px 60px 220px;

      h1 {
        display: none;
        //      width: 100% !important;
        //      left: 0px;
        //      position: relative;
        //      display: block;
      }
    }
  }

  //  overflow: hidden;
  .title-clone-wrapper {
    position: absolute;
    z-index: 100;
    @include text-shadow(0px 0px 5px rgba(#fff, 0.6));
    width: 100% !important;
    //    margin: 0 300px;

    h1 {
      border-bottom: none !important;
      width: 55% !important;
      //      display: block;
      //      position: relative;
      //      width: 100%;
      //      margin: 0px 300px 0 300px;
      //      padding: 0px;
    }
  }

  .image-flipper {
    width: 100%;
    height: 100%;
    //    width: 500px;
    //    height: 300px;
    //    margin: 0px auto;
    text-align: center;

    .turn-page-wrapper:first-child,
    .page-wrapper:first-child {
      //      @include backface-visibility('hidden');
      //      backface-visibility: hidden;
      //      background: red !important;
      @include box-shadow(0 0 20px rgba(0, 0, 0, 0.2));
    }

    .turn-page-wrapper,
    .page-wrapper {

      //      background: white;
      .turn-page,
      .page {
        //        backface-visibility: hidden;
        //        background-color: white;
        @include box-shadow(0 0 20px rgba(0, 0, 0, 0.2));
        //        background-repeat:no-repeat;
        background-size: 100% 100%;
        text-align: center;
        position: absolute;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;

        img {
          position: relative;
          vertical-align: top;
          width: auto;
          height: auto;
          max-width: 100%;
          max-height: 100%;
          margin: 0 auto;
          // top: 50%;
          // @include transform(translateY(-50%));
        }
      }
    }
  }

  // colorbox

  //  .field-name-custom-pagination {
  //    ul, li {
  //      list-style: none;
  //      padding: 0px !important;
  //    }
  //    li {
  //      display: inline;
  //    }
  //  }
  //  /* image article sidebar exceptions */
  //  .sb-2 {
  //    .field-name-image-counter {
  //      margin: 20px 0px 10px 0px!important;
  //    }
  //    .field-name-custom-pagination {
  //      .glyphicon {
  //        font-size: 1.5em;
  //        font-weight: lighter;
  //        color: #AEA9C2;
  //        &:hover {
  //          color: slategray !important;
  //        }
  //      }
  //    }
  //  }


  .group-image-info {
    margin-bottom: 50px;

    .field {
      width: 640px;
      margin: 0px auto;
      text-align: center;
    }
  }

  //  #article-thumbnails.slide-hide {
  //    padding: 0px;
  //    height: 0px;
  ////    overflow: hidden;
  //  }
  //  #article-thumbnails.slide-show {
  ////    overflow: visible;
  //  }
  #article-thumbnails {
    @include article-thumbs();
  }

  // group tags
  .group-tags {
    width: 640px;
    margin: 0px auto;

    .field-type-taxonomy-term-reference,
    .field-name-auth-link {

      //      text-align: center;
      //      float: left;
      .field-item {
        margin: 0 10px 20px 0;
        //        float: left;
        display: inline-block;

        a {
          //          white-space: nowrap;
          @include pill-style(#ccc, #ddd, black);
          text-transform: uppercase;
        }
      }
    }
  }

  .thumb-toggle {
    a {
      text-transform: uppercase;
    }
  }
}


.node-type-image-article,
.node-type-edition {
  #page-content {
    width: 100% !important;
  }
}

.node-type-edition {
  // .pane-node-content {
  //   .pane-title {
  //     padding-bottom: 30px;
  //   }
  // }

  .sb-2 {
    .field-name-field-title-sub {
      text-transform: none;
    }

    .field-name-field-product {
      width: 100%;

      .btn {
        @include pill-style(#ddd, 25px, #000000);
        color: black !important;
        border: 0px;
        padding: 2px 30px;
        text-transform: uppercase;
        font-size: 13px;

        &:hover {
          color: $gray2;
        }
      }
    }

    #block-spike-caption-insert-caption-sidebar {
      #article-caption-display {
        .caption {
          padding-bottom: 0px !important;

          p {
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}

.page-article-print {
  img {
    width: 100%;
    height: auto;
  }
}

/* FULL ARTICLE
 * aka READER
*/
.page-node.node-type-article,
.page-node.node-type-image-article,
// .page-node.node-type-edition,
.page-article-print,
.page-node-edit {

  #block-system-main {
    .pane-node-content {
      background: white;
      //      padding-bottom: 30px;
    }

    // readjust width & margin for new image presentation
    h2.pane-title,
    .group-article-top,
    .field-name-field-blurb,
    //    .field-name-body p,
    .field-name-body .insert-image,
    .group-tags,
    .field-name-field-image,
    .image-caption-insert,
    .video-filter {
      width: 640px;
      margin: 0 auto;
      // img {
      //   margin: 0 auto !important;
      // }
    }

    .field-name-field-image {
      .field-items {
        .field-item {
          >a {
            position: relative;

            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }


      .insert-image {
        a {
          position: relative;
          width: 100%;
          //          img {
          //            position: relative;
          //            width: 100%;
          //            height: auto;
          //          }
        }
      }
    }

    .field-name-body {

      // typical article body text spacing
      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      iframe,
      blockquote {
        width: 640px;
        margin: 10px auto 20px auto !important;

      }

      // breakout headline / bold
      h2 {
        font-family: logoTitle, sans-serif;
        width: 100%;
        padding: 0 220px;
        line-height: 40px;
        margin: 30px 0;
      }

      .node-advert-article-divider {
        h2 {
          display: none;
        }
      }
    }


    // extra width for breakout element
    p.breakout-el {
      width: 100%;
      text-align: center;

      iframe {
        //width: 853px;
        //margin: 0 auto;

      }
    }

    .pane-title,
    .node-article.view-mode-full {
      //      width: 640px;
      //      margin: 0 auto;


      .group-article-top {
        text-align: center;

        .field-name-title h2 {
          text-transform: uppercase;
        }

        .field-name-title h2,
        .field-name-field-title-sub {
          font-size: 28px;
          margin: 0px;
          margin-bottom: 30px;
        }

        .field-name-field-author,
        .field-name-auth-by-line {
          font-size: 22px;
          line-height: 36px;
          margin: 30px 0 40px 0;
        }
      }

      // top image
      .field-name-field-image {
        margin-bottom: 20px;

        .field-item.insert-image {
          text-align: center;
          margin: 40px 0 20px;

          .article-image-new {
            img {
              position: relative;
              max-height: 550px;
            }
          }
        }
      }

      blockquote.image-field-caption {
        margin-top: 20px !important;

        &:not(:first-child) {
          @media screen and (min-width: 1024px) {
            display: none;
          }
        }

        color: black !important;
        text-align: center;
        border: 0px;
        padding: 0 20px;

        //margin: 0 0 20px;
        p {
          font-size: 14px;
          font-weight: normal;
          //              font-size: 1em;
        }
      }

      .field-name-first-img-cap {
        text-align: center;
        margin-bottom: 40px;
        //display: none;
      }

      .field-name-field-blurb {
        font-style: italic;
        margin-bottom: 0px;
        text-align: center;
      }

      .field-name-body {
        margin: 60px 0;
      }

      .image-caption-insert,
      .insert-image {

        //        margin: 40px 200px;
        img {
          //          position: absolute;
          max-width: 100%;
          width: auto;
          position: relative;
          height: auto;
          margin: 20px 0;
        }
      }

      .field-name-field-blurb,
      .field-name-body {
        p {
          //          padding-bottom: 1em;
        }

        font-size: 16px;
        line-height: 22px;

        a,
        a:link,
        a:visited {
          color: $gray2;
        }

        a:hover {
          color: black;
        }

        //        font-size: 18px;
        //        line-height: 24px;
        .image-caption-insert {
          text-align: center;

          img {
            margin: 20px 0 0px
          }

          .caption {
            //            display: none;
          }
        }
      }

      // group tags
      .group-tags {
        margin-top: 30px;
        background: pink !important;
        display: block;
        text-align: center;

        .field-type-taxonomy-term-reference,
        .field-name-auth-link {
          .field-item {
            margin: 0 10px 20px 0;
            float: left;
            display: inline;

            a {
              @include pill-style(#ccc, #ddd, black);
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }


  /* Article sidebar
  */


  .sb-1 .region-sidebar-first {
    position: fixed;
  }

  .sb-2 {
    //    display: none;
    background-color: unset !important;

    .region-sidebar-second {
      //      padding-top: 30px;
      position: fixed;
    }

    .view-spike-article-sidebar-exttras {
      .field-name-field-category {
        text-transform: uppercase;
      }

      .field-name-post-date,
      .field-name-dynamic-date-issue,
      .field-name-dynamic-date-issue a {
        color: $gray2 !important;
        margin-bottom: 20px;

        &:hover {
          color: black !important;
        }
      }

      .field-name-dynamic-date-issue {
        cursor: default !important;

        &:hover {
          color: $gray2 !important;
        }
      }

      .field-name-title {
        text-transform: uppercase;
      }

      .field-name-auth-by-line {
        margin-bottom: 20px;
      }
    }

    //    #block-spike-layout-spike-share {
    //      .links-toggle {
    //        text-transform: uppercase;
    //        margin: 10px 0;
    //        &:hover {
    //          cursor: pointer;
    //          color: $gray2;
    //        }
    //      }
    //      #service-links {
    //        .service-links {
    //          ul, li {
    //            list-style: none;
    //            margin: 0px;
    //            padding: 0px 0px 15px 0px !important;
    //          }
    //        }
    //      }
    //    }
    #block-spike-caption-insert-caption-sidebar,
    .view-id-article_sidebar_captions {

      .views-field-field-image,
      #article-caption-display,
      #article-captions-container {
        img {
          display: none;
        }

        .caption,
        .image-field-caption {
          color: black;
          //          color: $gray2;
          padding: 0;
          opacity: 0;
          max-height: 0;
          transition: all 50ms;
          margin-bottom: 0;

          &.visible {
            opacity: 1;
            max-height: 600px;
            margin-bottom: 20px;
          }
        }

        .image-field-caption {
          border: 0px;

          //padding: 20px 0;
          p {
            font-size: 13px;
          }
        }
      }
    }
  }
}

.legacy-caption-article {
  .field-name-first-img-cap {
    display: block;
  }
}

.pager {
  visibility: hidden;
  opacity: 0;
  display: block !important;

}

.sticky-footer-seperator .sticky-footer,
.sticky-footer-loadmore {
  margin-bottom: 40px;
  padding-top: 60px;
  padding-bottom: 20px;

  ul.pager {
    display: none;
  }

  @include transition(background 600ms ease-out);

  #bg-insert {
    opacity: 0;
    @include transition(opacity 600ms ease-out);
  }

  #sticky-shadow {
    height: 28px;
  }

  .view-spike-front-page {
    .tile-set-wrapper {
      .tiled-row {
        .node {
          .field {
            max-width: 400px !important;
          }
        }
      }
    }

    .tilebreak-wrapper {
      .tile-breakpoint.views-row {
        margin: 0px;
        width: 100%;
        max-width: 100%;
        display: none;
      }
    }
  }
}

.sticky-footer.sf-processed,
.sticky-footer-loadmore.sf-processed {
  background: white !important;

  #bg-insert {
    opacity: 1;
  }

  #bg-insert.opacity-fade {
    @include transition(opacity 100ms ease-out);
    opacity: 1;
  }

  #bg-insert.opacity-fade.opacity-hidden {
    opacity: 0;
  }
}

.mobile-nav-wrapper {
  position: relative;
}
