.page-subscriptions {
  #bar-toggle {
    display: none;
  }

  h2 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 90px !important;
  }

  #page-content {
    //    margin-top: 0px;
    width: 100% !important;
    padding-top: 0px;
  }

  .region-content {
    position: relative;
    width: 100% !important;
    overflow: hidden;
  }

  .view {
    text-align: center;
    width: 100%;

    //    min-height: 500px;
    .views-row {
      margin: 0 30px 30px 30px;
      margin: 0px 30px 20px 30px !important;
      //      min-height: 400px;
      width: 300px !important;
      //      margin: 0 auto;
      padding-bottom: 60px;
      vertical-align: top !important;

      .field-name-body {
        margin-bottom: 20px;
      }
    }

    .views-row-1 {
      .field-name-body {
        margin-bottom: 38px;
      }
    }
  }

  .pane-spike-subscriptions-panel-pane-1 {
    margin-top: -60px !important;

    h2 {
      padding-top: 60px;
      margin-bottom: 30px;
    }

    //      background: darken(#eae8d3, 5%);
    .views-row {
      display: inline-block;
      vertical-align: top;
      margin: 0px auto;
    }

    .views-row-1 {
      .field-name-title {
        margin-bottom: 25px;
      }
    }
  }

  #subscription-info {
    padding: 0 60px;
    text-align: center;
    width: 100%;
  }
}

/* END PRELAUNCH SPECIAL
*/
// set stacks
body {
  @include opacity(0);
  min-height: 1000px;
}

body.cke_editable {
  opacity: 1 !important;
  //@include opacity(1,1)
}

.main-container {
  z-index: 4;
  position: relative;
}

.col-sm-11 {
  z-index: 1000;
  background: white;
  //  margin-top: 20px;
}

.field-type-text-with-summary,
.field-type-text-long {
  .field-item {
    strong {
      font-family: folioMed, arial, sans-serif;
    }

    a,
    a:link,
    a:visited {
      color: $gray2 !important;

      &:hover {
        color: black !important;
      }
    }
  }
}

.html {
  //  overflow: hidden;
  //  font-family: spRegular !important;
  color: black;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

#bottom-region {
  //  margin-top: 245px;
}

.col-sm-10 {
  padding: 0px;
}

header {
  //  position: fixed;
}

/*
 * Main Frame
 */
.main-container {
  position: absolute;
  //  background: white;
  //  top: 245px !important;
  padding: 0px;
  margin: 0px;
  //  z-index: 8999;
  //  top: 235px;
  //  @include top-edge-tooth(white);
  //  min-height: 700px;
}

/*
 * MAIN DISPLAY
 */
.main-container {
  width: 100%;
}

.row {
  margin: 0px !important;
}

.col-sm-10,
.col-sm-11,
.col-sm-12 {
  padding: 0px !important;
  width: 100%;
  overflow-x: hidden;

  .breadcrumb,
  .page-header,
  .nav-tabs {
    position: relative;
    padding: 0px 0px 0px 0px;
    width: 80% !important;
    margin: 0px auto 0px auto;
  }
}

#block-system-main {
  .view {

    //    margin: 0px auto 0px auto;
    .views-row {
      vertical-align: top;
      //      vertical-align: middle;
    }
  }
}

// .page-contributors,
// .page-authors,
// .page-subjects,
// .page-search {
//   #page-content {
//     width: 100% !important;

//     .view {
//       //      width: 100%;
//       // margin: 0px 220px;
//       // margin-bottom: 60px;

//       .view-content {
//         margin-top: 30px;
//         //        left: -60px;
//         position: relative;
//         @include columns(180px 4);
//       }

//       .glossary-row {
//         @include break-inside(avoid);

//         >div {}

//         vertical-align: top;
//         text-align: left;
//         padding-bottom: 20px;

//         .alpha {
//           text-transform: capitalize;
//           padding-bottom: 20px;
//         }
//       }
//     }

//     //    width: 100% !important;
//   }
// }

/* PAGE TITLes */
/* ISSUE / EDITION PAGE
*/
.page-search,
.page-subjects,
.page-authors,
.page-contributors,
.page-taxonomy-term,
.page-issues {
  .page-header {
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 30px;
  }
}

/* NODE PAGES FULL WIDTH
*/
.node-type-article {
  #page-content {
    width: 100% !important;
  }
}

/* CONTENT SPACING W/O TILING - AUTO CENTER
*/
.page-taxonomy,
.page-user,
.page-node-add,
.page-node-edit,
.page-node-clone,
.page-node-delete,
.page-admin,
.page-admin-content,
.page-toboggan,
.page-issues //.node-type-issue,

  {

  //  #page-content {
  ////    width: 80% !important;
  //    margin: 0px auto 0px auto;
  //    .page-header {
  //      margin-bottom: 30px;
  //    }
  //  }
  #page-content {
    margin: 60px auto 0px auto;

    .page-header {
      margin-bottom: 30px;
    }
  }
}

/// claire updates
.page-taxonomy {
  button[name="op"] {
    display: block !important;
    margin: 0 auto !important;
  }

  .node.node-teaser .field-name-title {
    margin-top: 40px !important;
    line-height: 2em !important;
  }

  h4.print-extra {
    margin-top: -20px !important;
  }

  h4 {
    line-height: 2em;
  }

  .print-only-article {
    img {
      display: block !important;
      margin: 0 auto !important;
    }

    .field-name-field-blurb {
      margin-top: 20px !important;
      line-height: 1.2em;
    }
  }
}

#page-content {
  padding-top: 60px;
  position: relative;
  overflow: hidden;
}

.page-issues,
.page-taxonomy-term {
  #page-content {
    padding-top: 0px;
  }
}

.view-empty {
  text-align: center;
}

.page-search {
  #page-content {

    //    margin: 0 auto;
    #block-views-exp-search-page {
      padding-bottom: 40px;
    }

    .view {
      margin: 0 60px !important;

      .view-content {
        margin: 0 auto;

        a,
        a:link {
          text-decoration: none;
        }
      }
    }
  }
}

//.node-type-edition {
//  .node-edition.view-mode-full {
//    .field-name-flip-book {
//      .page-inner {
//        position: relative;
//        width: 100%;
//        height: 100%;
//        img {
//          position: relative;
//          width: auto;
//          height: auto;
//        }
//      }
//    }
//  }
//}
/* MAIN CONT. AUTO CENTERED W MARGINS
 * * many of these also with TILED DISPLAY / MASONRY
 */
//.tile-set-wrapper,
//.view-spike-term-pages .view-content,
//.view-spike-issues .view-content,
// .view-products-recommended .view-content,
.view-editions .view-content,
.view-external-products .view-content,
.view-spike-search.view-display-id-page_1 .view-content //.view-search.view-display-id-page .view-content,

  {
  @include cont-auto-center();
}

.view-spike-term-pages .view-content,
.tile-set-wrapper,
.view-search.view-display-id-page {
  //  width: 100% !important;
  margin: 0px auto 0px auto;

  //  padding: 0 60px;
  .tiled-row,
  .views-row {
    .view-mode-teaser {
      width: 400px;
      margin: 0px auto !important;
    }

    transition: opacity 200ms ease-in;

    &.loading {
      opacity: 0;
    }

    max-width: $teaserW;
    display: inline-block;
    margin-bottom: 60px;

    .field-type-image {
      text-align: center;

      img {
        margin: 0 auto;
      }
    }
  }
}

// print only teasers, which include custom issue teaser formatting
.node-article.node-teaser.print-only-article {
  .field-name-print-article-extra {
    .node-issue.node-teaser {
      .field-name-title {
        padding-bottom: 0;
        //margin-bottom: -15px;
      }

      .field-name-field-product {
        display: none !important;
        position: absolute;
        height: 0;
        width: 0;
        opacity: 0;
        visibility: hidden;
      }
    }

    h4.print-extra {
      text-align: center;
      margin-top: 0;
      font-size: 18px;
      margin-bottom: 20px;

      a,
      &:hover {
        color: black !important;
      }
    }
  }

  .field-name-compound-info,
  >.field-name-title {
    display: none;
    opacity: 0;
  }
}

.view-spike-issues .view-content .views-row,
.view-products-recommended .view-content .views-row {
  min-width: 291px;
  max-width: 300px !important;
  //  width: 300px;
}

.region-sidebar-first {

  .view-spike-issues .view-content .views-row,
  .view-products-recommended .view-content .views-row {
    max-width: 140px !important;
    min-width: 140px !important;
    //  width: 300px;
  }
}

#scroll-insert {
  position: fixed;
  width: 0px;
  height: 0px;
  display: none;
  bottom: -300px;
  left: 50%;
}

/* PAGE ISSUES STYLING
*/
//.page-issues {
//  #page-content {
//    .view-spike-issues.view-display-id-page {
//      .views-row {
//        display: inline-block;
////        width: 300px;
//      }
//    }
//  }
//}
/* 2 SIDED FLIP CONTENT STYLING
 */
#page-content .field-name-issue-image-compound {
  margin: 0 auto;

  .field-items,
  #flip-content {
    height: 395px;
  }
}

.node-issue.node-teaser,
// .node-edition.node-teaser,
.view-mode-teaser.node-external-product {
  margin: 0 auto;

  .field-name-issue-image-compound,
  .field-type-image {
    vertical-align: bottom;
    padding: 0px !important;
    margin-bottom: 30px;
    width: 300px !important;
    //    max-height: 300px;
    //    overflow: hidden;
    position: relative;

    img {
      //      max-height: 300px !important;
      //      width: auto !important
      //      height: auto !important;
      //      width: auto !important;
    }

    #flip-content {

      #side-1,
      #side-2 {
        //        @include box-shadow(rgba(black, 0.2) 0px 2px 6px 2px);
        @include issue-shadow();
        vertical-align: bottom;
      }

      #side-2 {
        height: 100%;
        text-align: left;
        font-size: 16px;
        padding: 20px;
        line-height: 24px;

        a:hover {
          position: relative;
          display: block;
          height: 100%;
          color: black;
        }
      }
    }
  }

  .field-name-title-link {
    //    font-weight: bold;
  }

  .field-name-field-product {
    .btn {
      background-color: #ddd;
      border-color: #ddd;
      text-transform: uppercase;
      color: black;
      padding: 2px 30px;
      @include border-radius(13px);
    }
  }
}

.page-search {
  .node-edition {
    .field-name-issue-image-compound {
      width: 100%;

      img {
        width: 100%;
        height: auto !important;
      }
    }

    .field-name-field-product {
      .commerce-add-to-cart {
        text-align: center;

        button {
          margin: auto auto;
        }
      }
    }
  }
}

/* RELATED CONTENT STYLING
*/
.view-mode-related_content {
  .field-type-image {
    .image-field-caption {
      display: none;
    }
  }
}

/* NODE TEASER STYLING
 */
.view-mode-related_content,
.node.node-teaser,
.node.view-mode-teaser_product_front {

  .field-name-title,
  .field-name-title-link {
    //    display: none;
    text-transform: uppercase;
    margin: 17px 0px 0px 0px;
    padding-bottom: 5px;
    //    font-size: 1.3em;
    text-align: center;

    h4 {
      font-size: 18px;
      line-height: 24px;

      a {
        text-transform: uppercase;
      }
    }
  }

  .field-name-field-title-sub {
    margin-bottom: 13px;
  }

  .field-name-field-blurb,
  .field-name-field-title-sub {
    font-size: 16px;
    text-align: center;
    margin-top: -5px;
  }
}

// search page
.view-search {
  .views-field-created {
    text-align: center;
    margin-top: 10px;
  }

  .views-field-rendered-entity {
    .node-issue {
      .field-name-issue-image-compound {
        margin: 0 auto;
      }

      #flip-content {
        height: inherit;
      }

      .field-name-field-product {
        button.btn {
          //          text-align: center;
          //          width: 129px;
          //          margin: 0 auto;
          margin-left: 130px;
        }

        #edit-line-item-fields {
          display: none;
        }
      }
    }
  }
}

.node-type-issue {
  .field-name-title {}
}

.page-node {
  .pane-node-content .pane-content {
    //    padding-bottom: 60px;
  }

  .pane-title,
  .view-mode-full h2,
  .field-name-title h2,
  h1.page-header {
    font-size: 28px;
    line-height: 36px;
    //    font-weight: bold;
    //    margin: 0px 220px;
    //    padding-bottom: 60px;
    text-transform: uppercase;
    text-align: center;
  }
}

.node-type-article {

  .pane-title,
  .view-mode-full h2,
  .field-name-title h2 {
    padding-bottom: 30px;
  }
}

/* THEME EFFECTS
 * since theme effects are rendered over the page, their containers should have no
 * visibility, but not be hidden
 */
.theme-effect {
  height: 0px;
  width: 0px;
  position: absolute;
}

/* RECOMMENDED CONTENT */
/* */
.view-more-issues,
.view-products-recommended {
  margin-left: 5px;
  width: 100%;

  .views-row {
    width: 290px !important;
    margin: 0 30px;
    display: inline-block;
    vertical-align: bottom !important;
  }

  .views-row:first-child {
    margin-left: 0
  }

  .views-row:last-child {
    margin-right: 0
  }
}

/* DISPLAY EXTRAS
** highlight elements referenced for special display info
** some will have custom styles
*/
.node {
  .field-name-field-display-extra-ref {
    //    display: none;
    position: relative;
    width: 100%;
    height: 0px;
    top: 0px;
    z-index: 1;

    //    margin-bottom:-120px;
    //    overflow: hidden;
    .node-highlight-element {
      display: inline-block;
      //      display: none;
      position: absolute !important;
      right: 0px !important;
      top: 0px !important;
      //      width: 100%;
      height: 100px;

      img {
        right: 0px;
        //position: absolute !important;
        width: 100px !important;
        height: 100px !important;
      }
    }
  }
}

/*
** adverts are displayed in same 400px container as articls,
** but themselves are only 300px wide, so we have to adjust
** positioning for the Hightlight Element
*/
.node-advert-content,
.node-special-content {
  padding-bottom: 30px !important;
}

@media (min-width: 840px) {
  .view-spike-front-page {

    .node-advert-content,
    .node-special-content,
    .page-search .node-issue {
      .field-name-field-display-extra-ref {
        right: 50px !important;
      }
    }
  }
}

/*
*/
.view-spike-adverts-floating {

  .node-advert-content,
  .node-special-content {
    .field-name-field-display-extra-ref {
      .node-highlight-element {
        img {
          right: 0px !important;
        }
      }
    }
  }
}

.node-article.node-teaser {
  .field-name-field-display-extra-ref {}
}

.node-edition.view-mode-teaser_product_front {
  .field-name-field-display-extra-ref {}
}

/* ADMIN
*/
.page-admin {
  #block-system-main {
    #node-admin-content {
      .form-group {
        margin: 0px;

        .form-type-select {
          margin: 0px;
          padding: 10px;
          display: inline-block;
          width: 33%;
        }
      }
    }
  }
}

.admin-node-add {
  .node-type-list {

    dt,
    dd {
      float: left;
      //      width: 50%;
      display: inline-block;
      margin-bottom: 20px;
    }

    dt {
      clear: both;
      font-size: 2em;
      //      text-align: right;
    }

    dd {
      padding: 15px 0 0 10px;
    }
  }
}

.page-toboggan,
.page-user {
  .page-header {
    text-align: center;
  }

  #user-login,
  #page-content #block-system-main {
    width: 50%;
    margin: 20px auto;
  }
}

.messages {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 20px;
}

/// kinda stupid fix for sticky footer background color wierdness
.page-node {
  #page-content {
    padding-top: 0px;
  }

  .pane-node-content {
    padding-top: 30px;

    @media (min-width: 767px) {
      padding-top: 60px;
    }

    padding-bottom: 30px;
    background-color: white;
  }
}

// fast fix, gallery style/flip style cursor
// .image-flipper,
// .turn-page-wrapper {
//   [data] {
//     width: 50%;
//     height: 100%;
//     display: inline-block;
//     // background-color: pink;
//     position: relative;
//     top: 0;
//     left: 0;
//     // z-index: 3;
//     cursor: url(/sites/all/themes/spike/images/spike-l.png), auto;
//   }

//   [data=right] {
//     right: 0;
//     // background-color: yellow;
//     cursor: url(/sites/all/themes/spike/images/spike-r.png), auto;
//   }
// }

.image-flipper.left,
.turn-page-wrapper.left {
  //  cursor: url("../images/left-arr.png"), auto !important;
}

// footer / cart / messaging
.messages {
  position: fixed;
  width: 500px;
  text-align: center;
  left: 50%;
  margin-left: -250px;
  background: rgba(black, 0.8);
  z-index: 99;
  top: 35%;
  color: white;
  @include border-radius(10px);

  a:link,
  a:visited {
    color: white !important;
    text-decoration: underline;
  }

  .messageclose {
    text-decoration: none !important;
    padding: 0px 2px 5px 2px !important;
    margin-left: 20px;
  }

  .close {
    display: none;
  }

  &.error {
    position: inherit;
    width: 100%;
    margin: 0 0 30px 0;
    top: 0;
    left: 0;
  }
}

.error.form-type-checkbox {
  background-color: inherit;
}

.error {
  label {
    padding: 5px;
  }
}

/* full width page formatting for front page style w/o the sidebar - lang specific pages
*/
.not-front {
  .sb-1 {
    margin-top: 0px;
  }
}

.page-glish,
.page-utsch {
  .sb-2 {
    position: fixed !important;
    //    padding-top: 45px !important;
  }

  #page-content {
    padding-right: 20px;
    width: 100% !important;
    margin-top: 60px;
  }

  #block-spike-lang-language-control--2 {
    padding-right: 200px;
    @include transition-property(padding-right);
    @include transition-duration(480ms);
    //@include transition(all 480ms ceaser('easeInQuart'));
  }

  #block-spike-lang-language-control--2.lang-toggle {
    padding-right: 0px;
  }
}

/* image flipper pagination
*/
.image-flipper .turn-page-wrapper {
  // .node-type-issue .image-flipper {
  cursor: url(/sites/all/themes/spike/images/spike-r.png), auto;
}

.image-flipper--pos-left .turn-page-wrapper {
  cursor: url(/sites/all/themes/spike/images/spike-l.png), auto;
}

//#cursor-bg {
//  width: 30px;
//  height: 21px;
//  background: red;
////  z-index: 9999;
////  margin-top: -10px;
//}
.pager-wrapper {
  position: relative;

  #pager {

    //    position: absolute;
    //    display: block;
    //    width: 100%;
    //    height: 100%;
    //    background: red !important;
    .inner {
      display: inline-block;
      width: 50%;
      height: 100%;
    }
  }
}

.share-clone {
  width: 100%;
  background: white;
  clear: both;
  position: relative;
  text-align: center;

  h4 {
    display: inline;
    line-height: 125%;
  }

  .service-links {
    margin: 40px auto 0px auto;
    padding-bottom: 30px;
    width: 640px;
    text-align: center;

    .share-title {
      font-size: 18px;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    ul {
      width: 100%;
      margin-left: -25px;
    }

    li {
      list-style: none;
      display: inline-block;
      padding: 0px;
    }

    li.first {
      position: relative;
      top: -9px;
      margin-right: 50px;
    }

    li:nth-child(2) {
      //        margin-right: 30px;
      top: -1px;
      position: relative;
    }

    li.last {
      position: relative;
      top: -3px;
      //        display: none;
    }
  }
}

.sb-2 {
  #block-spike-layout-spike-share {
    .service-links {
      li.first {
        position: relative;
      }
    }
  }
}

// hide fb like button on sponsored pages
// this is prob best as temp solution...
.sponsored-article {
  #service-links {
    li.first {
      display: inline !important;
    }

    li.last {
      left: -10px;
    }
  }

  .sb-2 {
    #block-spike-layout-spike-share {
      margin-top: 30px;
    }
  }
}

.tabs--primary.nav-tabs {
  position: absolute;
  top: 0;
  left: 200px;
  z-index: 5554;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

h2 {
  font-family: logoTitle, sans-serif;
  line-height: 40px;
  margin: 0;
  // width: 100%;
  // padding: 0 220px;
  // margin: 30px 0;
  // text-align: center;
}

.error-403,
.error-404 {
  .main-container {
    text-align: center;
  }
}

.cookie-compliance {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;

  .cookie-compliance__inner {
    margin-top: 10px;
    display: flex;
    width: 75%;
    margin: 10px auto 0;

    form {

      input,
      button,
      .cookie-compliance__button {
        width: 100px;
        border-radius: 15px;
        border-style: none;
        margin-left: 15px;
      }
    }
  }
}
