// $rupture: map-merge($rupture, ( // iphone X = 375
// // ipad 768
// scale: 0 374px 499px 768px 1024px 1800px,
// scale-names: 'xs''s''m''l''xl''hd'
// ));

.page-node h2.pane-title {
  font-family: folioMed, arial, sans-serif;
  font-size: 20px;
  // font-size: 1.5em;
}

p {
  font-size: 16px;
  line-height: 22px;
  // font-size: 1.1em;
}

@include above(m) {
  .page-node h2.pane-title {
    font-size: 30px;
    line-height: 36px;
  }

}


// Node with flipper full dislpay.
$field_pad: 50px;

.node-type-edition {
  #block-system-main {
    .pane-node-content {
      // b/c of spacing with h2 line-height, this nudge makes for total offset look of 30px.
      // @todo, move this to h2 margin when full reset from old styles is complete.
      // See @ above(s)  seen below..
      padding-top: 18px;
      padding-bottom: 0;

      h2.pane-title {
        width: 100%;
        padding-left: $field_pad;
        padding-right: $field_pad;
        margin-bottom: 20px;
      }

      .pane-content {
        .node {
          .group-upper {
            margin-bottom: 40px;

            .field-name-image-info {
              .image-flipper {
                .item {
                  margin-bottom: 40px;

                  img {
                    margin-top: 0 !important;
                    margin-bottom: 20px;
                    width: 100%;
                    height: auto;
                  }

                  .caption {
                    margin: 20px;
                  }
                }
              }
            }

            .group-image-info {
              .field-group-format-title {
                display: none;
              }
            }
          }

          .group-lower {
            padding: 0 $field_pad;

            .caption {
              display: none;
              margin-bottom: 40px;
            }

            .field-name-body {
              .field-item {
                p {
                  width: unset;
                }
              }
            }
          }
        }
      }
    }
  }
}


// @todo, move this to h2 margin when full reset from old styles is complete.
@include above(s) {
  .node-type-edition {
    #block-system-main {
      .pane-node-content {
        padding-top: 39px;

        h2.pane-title {
          margin-bottom: 29px;
        }
      }
    }
  }
}

// Design break when flipbook kicks in.
$large_width: 440px;

@include above(l) {
  .node-type-edition {
    #block-system-main {
      .pane-node-content {
        padding-top: 49px;

        h2.pane-title {
          width: $large_width;
          margin-left: auto;
          margin-right: auto;
          padding-left: 0;
          padding-right: 0;
        }

        .pane-content {

          .node {
            .group-upper {
              .field-name-image-info {
                margin: 0 100px;

                .image-flipper {
                  .item {
                    margin-bottom: 0;

                    .caption {
                      // Captions are placed twice on the page:
                      // * Mobile, directly under images.
                      // * Larger view they are placed above text and revealed with turn.js functions.

                      display: none;
                    }
                  }
                }
              }

            }

            .group-lower {
              padding: 0;
              width: $large_width;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}

// Biggest display for
$xl_width: 640px;

@include above(xl) {
  .node-type-edition {
    #block-system-main {
      .pane-node-content {
        h2.pane-title {
          width: $large_width;
        }

        .pane-content {

          .node {
            .group-upper {
              .field-name-image-info {
                margin: 0 220px;
              }
            }

            .group-lower {
              width: $xl_width;
            }
          }
        }
      }
    }
  }
}

// End node full content.

// Footer.
$footer_pad: 30px;
$footer_pad_large: 60px;

.sticky-footer-new {
  background-color: #1EFF00;
  padding: $footer_pad_large $footer_pad $footer_pad $footer_pad;

  .pane-title {
    padding: 0 0 $footer_pad 0;
  }

  .view {
    margin: 0;

    .view-content {
      width: unset;

      >div {
        padding-bottom: $footer_pad;

        &:last-child {
          padding-bottom: 0;
        }

        .node {
          .field-name-field-product {
            display: none;
          }
        }

      }
    }
  }
}

@include above(l) {
  .sticky-footer-new {
    .view {
      margin: 0 auto;

      .view-content {
        display: flex;
        margin: 0 60px;

        >div {
          margin-right: 30px;
          width: 33%;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
