.page-cart,
.page-checkout
{
  h1 {
    text-align: center;
    padding-bottom: 60px !important;
  }


  #page-content {
    padding: 0px 20px !important;
    width: 100% !important;
    @media (min-width: 660px) {
      padding: 0px 60px !important;
      width: 100% !important;
    }
    @media (min-width: 1000px) {
      margin: 0px auto;
      width: 900px !important;
    }
    margin-top: 60px !important;
    .view-commerce-cart-summary {
      thead .views-field-line-item-title { visibility: hidden;}
    }

    .account-checkout {
      background: #aaa;
      padding: 10px;
      width: 30%;
      color: white;
      margin-bottom: 30px;
      @include border-radius(10px);
      clear: bloth;
      float: right;
      text-align: center;
      .email {
        font-weight: bolder;
      }
      .info {
        a:hover {
          color: white !important;
        }
      }
    }
    fieldset {
      clear: both;
      border: 0px;
    }

    /* override some bootstrap & commerce
    */
    legend {
      display: none;
    }
    .delete-line-item {
      background-color: white !important;
      border: none !important;
      color: black;
    }

    .checkout-buttons,
    .form-actions
    {
       // buttons
      button.checkout-continue,
      button.btn-info,
      button.btn-default
      {
        text-align: center;
        border: 0px;
        min-width: 180px;
        line-height: normal !important;
        @include border-radius (15px);
        padding: 5px 15px;
        font-size: 15px;
        background-color: #ddd;
        color: black;
        text-transform: uppercase;
        margin-bottom: 10px;
        font-family: 'Ubuntu light 300', arial, serif;
        &:hover {
          color: $gray2;
        }
      }
      button.checkout-continue,
      button.btn-default {
        background-color: $green; // green
      }
      .button-operator {
        font-size: 16px;
        margin: 0 5px;
        display: none;
      }
      button.checkout-back,
      button.checkout-cancel
      {
        background-color: #ddd !important;
        color: black;
        font-size: 16px;
        &:hover {
          text-decoration: none;
          color: $gray2;
        }
      }
    }
  }
  .form-item-commerce-payment-payment-method:last-child {
    .commerce-paypal-icons {
      display: none;
    }
    label {
      color: white;
    }
  }

}


.page-checkout-shipping {

  #commerce-checkout-form-shipping {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    .shipping-list-items,
    .shipping-total-wrapper,
    .shipping-address {

      margin-bottom: 30px;
    }
    .shipping-list-items,
    .shipping-address
    {

      p {
        font-size: 24px;

      }
    }
    .checkout-buttons {
      .panel-body {
        padding-top: 0px;
      }
    }
  }
}
.page-checkout-review {
  .checkout_review.form-wrapper {
    table.checkout-review {
      tr.pane-title:first-child {display: none;}
      td.pane-data-full {
        border-top: 0px;
      }
      .view-commerce-cart-summary {
        thead {
          .views-field-line-item-title { visibility: hidden;}
        }
      }
    }
  }
  .checkout-help {
    display: none !important;
  }
  .terms-of-service {
    width: 47% !important;
    display: inline-block !important;
    background: $gray1;
    min-height: 200px;
    vertical-align: top;
    padding: 30px;
  }
}

.panel#edit-commerce-payment {
  #edit-commerce-payment-payment-method {
    .label {
      margin-left: 27px;
      color: black;
    }
    .form-item-commerce-payment-payment-method {
      margin-bottom: 20px;
    }
  }
}

.view-commerce-cart-block {
  position: relative;
  top: 10px;
  left: 12px;
  .view-content, .line-item-quantity-label {
    display: none;
  }
  .view-header, .view-footer {
    width: 40px;
    display: inline-block;
  }
  .line-item-quantity-raw {
    color: white;
    position: relative;
    z-index: 1;
    left: 5px;
    top: -1px;
//    left: 23px;
//    top: -31px;
  }
  .circle {
    z-index: 0;
    display: block;
    width: 20px;
    height: 20px;
    @include border-radius(50%);
    background: red;
    position: relative;
    top: -22px;
    left: 17px;
    //    padding: 10px;
  }
}

.page-checkout {
  .order-confirm-details {
    margin-top: 50px;
  }
}
.commerce-order-handler-area-order-total .commerce-price-formatted-components {
  width: 50%;
}

.page-cart {
  .view-commerce-cart-form {
    form {
      th.views-field-commerce-total,
      td.views-field-commerce-total.price {
        text-align: right;
        padding-right: 0;

      }
      table {
        border-top: 0;
        td {
          background-color: white !important;
        }
      }

    }

  }
}
table {
  border-top: 0;
  td {
    background-color: white !important;
  }
}
