// general form spacing
.page-node-edit, .page-node-add, .page-node-clone {
  #block-system-main {
    margin: 0 100px;
  }
  .group-header,
  .group-left,
  .group-right,
  .group-footer {
    padding: 0px 20px 20px 0px;
  }
  .field-name-field-image {
    .cke_top {
      height: 30px !important;
      overflow: hidden;
    }
    .filter-wrapper {
      display: none;
    }
    td {
      padding-bottom: 50px;
    }
  }
  .field-name-field-image {
    .image-widget-data {
      .form-type-textfield {
        // display: none;
      }
    }
  }
}

.page-node-edit.node-type-advert-content,
.page-node-add-advert-content {
  .field-name-field-online-bool {
    display: none;
  }

}


//nav tabs
.nav-tabs {
  border-bottom: 1px solid #aaa;
  margin-bottom: 20px !important;
  li a {
    border: 1px solid #aaa;
    border-bottom: none;
  }
  li a.active {
    border:  1px solid #aaa;
    background: #18bc9c;
    border-bottom: 1px solid #aaa;
    &:hover {
      background: gray;
    }
  }
}

.page-taxonomy-term-edit {
  #page-content {
    margin: 60px auto ;
  }
}