body {
  //  display: none;
}

.front #page-content {

  //  background: ;
  &:after {
    //    content: url('/sites/all/themes/spike/images/spike_wasserzeichen.gif');
    //    position: fixed !important;
    ////    vertical-align: center;
    //    top: 50%;
    //    left: 50%;
    //    margin: -265px 0 0 -300px;
    //    z-index: -1;
    //    @include vertical-align;
  }
}

.view-spike-front-page .view-content .content-wrapper {
  //  background: white !important;
  //  width: 100%;
  //  height: 100%;
}

// quotation display front page
.node-quotation.view-mode-full {
  //  min-height: 350px;
  padding: 0px;

  .field-name-blurb-link {
    display: block;
    text-align: center;

    .quo-bg-img {

      p,
      div {
        @include text-shadow(rgba(white, 0.2) 1px 1px 0, rgba(white, 0.2) 2px 2px 0, rgba(white, 0.2) 3px 3px 0);
      }

      a {
        text-decoration: none !important;
      }

    }

    .field-item {
      vertical-align: middle;
      width: 100%;
      height: 100%;
      //      padding: 40px 20px;
      position: relative;
      overflow: hidden;
      background-size: cover;
      background-repeat: no-repeat;
      //      background-size: 2500px 2200px;
      //      background-position: -330px -200px;
      padding: 80px 0px !important;

      p {
        font-family: logoTitle, arial, sans-serif !important;
        font-size: 45px;
        //        font-size: 3em !important;
        padding: 0 60px;
        line-height: 1.7em
      }

      @media (max-width: 414px) {
        p {
          font-size: 22px;
          line-height: 45px;
          padding: 0 20px;
        }
      }

      a:hover {
        color: black !important;
      }

      .author,
      .title {
        font-family: folioMed, arial, sans-serif;
        padding-top: 0px;
        font-size: 25px;
      }
    }
  }
}

.tile-breakpoint.bp-sticky {

  // sticky breakpoint
  .breakpoint-el {
    position: fixed;
  }

  .bp-spike-before {
    top: -0px !important;
  }

  .shadow-top {
    left: 0px;
    top: 0px !important;
  }

  .node-quotation {
    margin-top: 40px;

    .field-name-blurb-link {
      .field-item {
        a {

          p,
          div {
            //          position: fixed;
            //          top: 20px;
          }

        }
      }

    }
  }
}

.bp-sticky.bp-out {
  .breakpoint-shadow {
    opacity: 0
  }
}

.node-edition.view-mode-teaser_product_front {

  //  margin-top: -15px;
  .field-name-content-type {
    //    top: 30px !important;
  }

  .field-name-field-display-extra-ref {
    //    top: 23px;
  }
}

.quote-clone {
  //  font-family: logoTitle, arial, sans-serif;
  //  font-size: 3em;
  display: block;
  //  text-align: center;
  position: fixed;
  top: 0px;
  z-index: 0;
}
