.main-container {
//  width: 100% !important;
//  @media (min-width: 1279px) {
////    width: 1265px !important;
//    #block-system-main {
//      padding: 0px 0px 0px 110px;
//      .view {
//        .views-row {
//          width: $teaserW;
//          img {
//            width: $teaserW;
//          }
//        }
//      }
//    }
//  }
//  @media (min-width: 968px) {
//    #block-system-main {
////      padding: 0px 0px 0px 110px;
//      .view {
//        .views-row {
//          width: $teaserW -50px;
//          img {
//            width: $teaserW -50px;
//          }
//        }
//      }
//    }
//  }

}
