/* SPIKE INFO PAGES
** STATIC hook_menu OUTPUT
** ADDED 21.04.2016
*/
.page-advertise,
.page-node-211,
.page-node-226
{
  h1.page-header {
    position: relative;
    height: 0;
    width: 0;
    padding: 0;
    overflow: hidden;
    @include opacity(0);
    visibility: hidden;
  }
  #page-content {
    padding-top: 0;
  }
}
.spike-page-stripes {
  h1, h4.stripe-title {
    margin: 0;
    padding-bottom: 60px;
  }
}


.spike-page-stripe {
  text-align: center;
  padding: 60px 0;
  .stripe-inner {
    width: 900px;
    margin: 0 auto;
    position: relative;
    img {
      width: 100%;
      height: auto;
    }
    .stack-el {
      margin-bottom: 60px;
    }
    .inline-wrapper {
      margin: 0 auto;
      .inline-item {
        display: inline-block;
        vertical-align: top;
        width: 33%;
        .inner {
          img {
            max-width: 150px;
            margin: 0 auto;
            margin-bottom: 20px;
          }
        }
      }
    }
    .elements {
      .inline-wrapper {
        padding-top: 30px;
        padding-bottom: 40px;
        &:last-child {
          padding-bottom: 00px;
        }
        .inline {
          width: 50%;
          display: inline-block;
          text-align: left;
          vertical-align: top;
          &:first-child {
//            padding-right: 30px;
            text-align: right;
          }
          &:last-child {
            padding-left: 40px;
            padding-top: 10px;
          }
          img {
            max-height: 300px;
            width: auto;
          }
        }
      }
    }
  }
}
/* exceptions */
.spike-page-stripe {
  .dates {
    padding: 40px 0 20px 0;
    .issue-item {
      padding-right: 20px;
      display: inline-block;
      width: 30%;
    }
    .issue-item:last-child { padding-right: 0px; }
  }
}
.spike-page-stripe.stripe-2,
.spike-page-stripe.stripe-4
{
  h4.stripe-title {
    padding-bottom: 10px;
  }
}


// coloring
.node-type-page-paragraphs .node-page-paragraphs .entity-paragraphs-item.background-green,
.spike-page-stripe.green-strip
{
  background-color: $green;
  table td img {
    width: 100px;
  }
}
.spike-page-stripe.white-strip {
  background-color: white;
}

// map
#map-wrapper {
  height: 400px;
}

#map-canvas {
  width: 100%;
  height: 100%;
}


// spiked elements
$sp_h : 25;
.spiked-band {
  position: relative;
  width: 100%;
  height: $sp_h+px;
  background-color: white;
  z-index: 1;
  &:after {
    content: '';
    display: block;
    position: relative;
    background-repeat: repeat-x;
    background-position: right bottom;
    background-image: url("/sites/all/themes/spike/images/white-up-inverse.svg");
    top: ($sp_h - 1) * -1 * 2 +px;
    height: ($sp_h + 1)+px;
  }

  &:before {
    content: '';
    display: block;
    position: relative;
    background-repeat: repeat-x;
    background-position: right top;
    background-image: url("/sites/all/themes/spike/images/spikes/shadow-up-inverse.png");
    top: ($sp_h + 1) * -1 +px;
    left: 2px;
    height: ($sp_h + 1)+px;
  }
}
.spiked-band-bottom {
  @include transform(rotate(180deg));
}

.spiked-band.invert {
  @include transform(rotate(180deg));
  top: 0;
  &:after {
    top: ($sp_h - 1) * -3 +px;
  }
}
.spiked-band-bottom.invert {
  @include transform(rotate(0deg));
}


/* paragraph pages
*/
.node-type-page-paragraphs {
  #page-content {
    font-size: 18px;
    .page-header { display: none; }
    .paragraphs-items {
      .field-item {
        .entity-paragraphs-item {
          .content {
            padding: 60px 0;
            .field {
              width: 900px;
              margin: 0 auto;
              text-align: center;
              p { position: relative }
              table {
                margin: 0 auto;
                td {
                  //width: 25%;
                  vertical-align: top;
                  padding: 10px;
                }
              }
              img {
                max-width: 100%;
                height: auto;
              }
              a, a:link, a:visited {
                color: black !important;
              }
              a:hover {
                color: $gray2 !important;
              }
              table.display-two-pane {
                td {
                  width: 50%;
                  padding: 20px;
                  p, h1, h2, h3, h4, h5, h6 { text-align: left };
                }
              }
            }
          }
        }
      }
    }
  }
  .field-name-field-image-insert, .field-name-field-file-insert {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}
/* variations
*/
.node-type-page-paragraphs {
  #page-content {
    font-size: 18px;
    .page-header { display: none; }
    .paragraphs-items {
      .field-item {
        .banded-spike-white.entity-paragraphs-item {
          .content {
            padding: 30px 0;
          }
        }
      }
    }
  }
}