.page-issues {
  h2.pane-title {
    display: none;
  }

  .view-id-spike_issues.view-display-id-panel_pane_1 {
    .views-row {
      margin-bottom: 30px;
    }
  }
}

.pane-spike-issues-panel-pane-1,
.page-issues {
  .view-spike-issues {
    text-align: center;

    .views-row {
      //      width: 300px !important;
      height: 500px;
      margin: 0px 30px 60px 30px;
      display: inline-block;
      //        margin-right: 80px;
      text-align: center;

      .field-name-issue-image-compound {
        //        overflow: hidden;
        //        width: 100%;
      }

      img {
        position: relative;
        width: 100%;
        height: auto;
      }

      .field-name-title {
        h4 {
          font-weight: lighter !important;
          margin: 0px 0;
        }
      }

      .field-name-field-product {
        button {
          margin: 0 0 10px;

          &:hover {
            color: $gray2;
          }
        }
      }
    }
  }
}

//.node-edition.node-teaser,
.node-issue.node-teaser {
  .field-name-title {
    a:hover {
      color: black !important;
    }
  }
}

.page-node.node-type-issue {
  .sb-1 {

    .region-sidebar-first,
    #bar-toggle {
      top: 0px !important;
    }
  }

  .sb-2 {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
  }

  .main-container {
    //    padding-top: 60px;
    //    background: $brown1;
  }
}

.page-node.node-type-issue //.page-node.node-type-edition

  {
  #page-content {
    .panel-pane {
      h2.pane-title {
        margin: 0 220px;
        margin-top: 0px;
        margin-bottom: 40px;
      }
    }

    //    width: 100%;
    width: 100% !important;

    .view-mode-full {
      background: white;

      .field-name-title {
        text-align: center;
        margin-bottom: 60px;
      }
    }
  }

  #block-system-main {
    .group-product {
      text-align: left !important;
      vertical-align: bottom;
      margin: 0px 220px 40px 220px;

      .field {
        margin-right: 20px;
        display: inline-block;
        white-space: nowrap;

        .btn,
        input#edit-submit {
          @include add-to-cart();
        }

        #edit-submit {
          position: relative;
          top: 1px;
        }
      }

      .field,
      .btn {
        position: relative;
      }
    }

    .group-product-inner-second {
      margin-top: 30px !important;
    }

    .group-center {
      .next-wrapper {
        opacity: 0;

        &.loaded {
          opacity: 1;
        }
      }

      .field-name-flip-book {
        img {
          opacity: 0;
        }

        .turn-page-wrapper {
          img {
            transition: opacity 200ms ease-in;

            &.loaded {
              opacity: 1;
            }
          }

          .turn-page {
            background: white;
            text-align: center;
            position: relative;

            // wrapper for page elements, product button comes below
            .page-inner {
              position: absolute;
              position: relative;
              height: 100%;
              width: 100%;
              text-align: center;

              img {
                margin: auto;
              }

              .field-item.not-first {
                position: relative;
                width: 100%;
                height: 100%;

                img {
                  position: relative;
                  max-width: 100%;
                  max-height: 100%;
                  width: auto !important;
                  height: auto !important;
                }
              }

              .field-name-corr-article-language-version {
                // language version hidden for now,
                // until we know how to use it / where put it
                display: none;
              }

              // this is an element of the issues first page, which is a diptych
              // of the left side text & right side image
              .group-right-inner {
                .field-name-field-image {
                  position: relative;
                  height: 100%;
                  width: 100%;

                  .field-items {
                    height: 100%;
                    position: relative;

                    .field-item {
                      height: 100%;
                      position: relative;

                      img {
                        position: relative;
                        width: auto;
                        height: auto;
                        max-width: 100%;
                        max-height: 100%;
                      }
                    }
                  }

                  //                  max-height: 100%;
                }
              }

              // this is the full size image
              >img {
                position: relative;
                vertical-align: top;
                margin: 0 auto;
                max-width: 100%;
                //                width: 100%;
                width: auto;
                height: auto;
                max-height: 100%;
                //                width: auto;
                //                height: 100%;
              }
            }
          }
        }

        .group-product {
          margin: 0px;
          opacity: 0;
          transition: opacity 200ms ease-in;

          &.loaded {
            opacity: 1;
          }
        }
      }

      margin: 0 220px 0px 220px;

      .group-left-inner,
      .group-right-inner {
        width: 50%;
        display: inline-block;
        vertical-align: top;
      }

      .group-right-inner {
        position: relative;
        height: 100%;
        padding-left: 15px;

        img {
          position: relative;
          width: 100%;
          height: auto;
        }
      }
    }

    .group-lower#article-thumbnails {
      @include article-thumbs();
    }

    .field-name-body {
      p {
        text-align: left;
        //        font-size: 12px;
        font-size: 16px;
        padding-bottom: 0px;
      }
    }

    .field-name-field-issue-page-image {
      .field-item {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 60px;
      }
    }

    .field-name-field-issue-ref-article,
    .field-name-field-article-ref-issue {
      width: 100%;
      left: 0px;
      padding-top: 60px;
      color: gray;
      font-size: 16px;

      #mas-wrapper {
        width: 80%;
        margin: 0 auto;
      }

      .field-items {
        margin: 0 auto;
        vertical-align: top;
        width: 80%;
        //        max-width: 80%;
        text-align: center;

        .field-item {
          text-align: left;
          margin: 0 20px 40px 20px;

          .field-items {
            width: 100%;
            margin: 0;

            .field-item {
              margin: 0;

              &:hover {
                //                color: $gray1 !important;
              }
            }
          }

          vertical-align: top;
          display: inline-block;
          width: 260px;

          //          margin: 0px 30px 30px 30px;
          .title {
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

@media (max-width: 414px) {
  .node-type-issue {
    max-width: 100%;

    .col-sm-11 {
      #page-content {
        margin-top: 30px !important;
        overflow: hidden;

        .pane-node-content {
          padding-top: 0 !important;

          .pane-title {
            width: 100%;
            max-width: 300px;
            margin: 0 auto !important;
            text-align: center;
          }

          .group-center.field-group-div {
            margin: 0;

            .flip-page {
              .group-left-inner {
                padding: 0 50px;
              }


              img {
                opacity: 1;
              }
            }

            .group-left-inner {
              width: 100%;
            }

            .group-product {
              opacity: 1;
              width: 100%;

              button,
              a {
                color: black !important;
              }

              .field-name-subscribe-button {
                margin-right: 0;
              }
            }
          }
        }

        .pane-more-issues.sticky-footer {
          .pane-title {
            text-align: center !important;
            margin: 0 auto !important;
          }

          .view-more-issues {
            .views-row {
              width: 250px !important;
              margin: 0 auto !important;

              >* {
                width: 250px !important;
              }

              img {
                max-width: 100%;
                height: auto;
              }
            }
          }
        }
      }

    }

    .sb-2 {
      width: 100%;
      position: relative;
      margin-top: 10px !important;
      padding-bottom: 0px !important;

      .region {
        width: 100%;
      }

      #block-spike-issue-spike-issue-sidebar {
        width: 100%;
        text-align: center;
        margin: 0 auto;
      }
    }
  }

}