#bar-toggle {
//  visibility: hidden;
  cursor: pointer;
  position: fixed;
  top: 0px;
  width: 60px;
  z-index: 600;
//  border: 1px solid black;
  border-bottom: 0px;
  border-top: 0px;
  margin-left: -1px;
  vertical-align: bottom;
  a .glyphicon {
    &:before {
      padding: 5px;
      position: relative;
      left: -5px;
      top: 2px;
      padding-right: 25px;
    }
  }

//  padding-top: 15px;
  #home-link {
    display: block;
    width: 60px;
    height: 145px;
    position: relatve;
    overflow: hidden;
    border-right: 1px solid black;
    border-left: 1px solid black;
    background: white;
    color: black !important;
    a, a:visited, a:focus, a:hover {
    }

    &:hover {
      color: black;
    }
    .toggle-img {
      display: inline-block;
      width: 180px;
      position: relative;
      top: 15px;
      left: -59px !important;
//      padding-top: 10px;
//      padding-left: 7px;
      @include transform(rotate(-90deg));
      font-family: logoTitle, arial, sans-serif;
      font-size: 2.4em;
      line-height: 1.5em;
      letter-spacing: 1px;
      display: inline-block;
      &:hover {
        color: black;
      }
    }
    .toggle-img-2 {
      left: 1px !important;
      top: -38px;
    }

//    overflow: hidden;
//    background: #fff url('../images/spike-menu-toggle.png') no-repeat center center;
//    @include transition-property(background);
//    @include transition-duration(100ms);
//    &:after {
////      content: '<div id="bar-toggle-toggle"></div>';
//      position: relative;
//      width: 100%;
//      height: 145px;
////      background: #fff url('../images/home.png') no-repeat center center;
//      left: 60px;
//      display: block;
//    }


    &:hover {
    }
  }
  .toggle-inner {
    width: 60px;
    bottom: 0px;
    left: 0px;
//    margin-left: -1px;
    border: 1px solid black;
    position: relative;
    background: white;
    @include transition-property(background);
    @include transition-duration(100ms);
    &:hover {
      background: black;
    }
//    @media (max-width: 414px) {
//      width: 58px;
//    }
    #toggle-el {
    padding: 10px 0px;
      display: block;
      height: 100%;

      .box {
        background: black;
        height: 3px;
        width: 55%;
        margin: 5px auto;
      }
    }
  }
}

.front{
  #bar-toggle {
//    @include opacity(0);
//    top: 260px;
  }
  #bottom-region {
//    display: hidden;
  }
}
.sb-1 {
  .region {
//    margin-top: 40px;
    position: fixed;

  }
}


#block-spike-layout-spike-main-menu-block  {

//  margin-top: 20px;
  padding: 0 20px;
//  position: fixed;
  text-align: center;
  ul, li {
    list-style: none;
//    margin: 0px;
//    padding: 0px;
  }
  .panel {
    background-color: #ddd !important;
    border: 0px !important;
    @include box-shadow(0px);
    -webkit-box-shadow: 0px !important;
    box-shadow: 0px !important;
    margin-bottom: 0px;
  }
  .accordion-heading {
    margin-bottom: 20px;
//    height: 28px;
  }
  .accordion-toggle, .leaf a {
//   height: 27px;
    @include pill-style(white, black, white);
//    @include pill-style(gold, black, white);
    display: block;
    width: 140px !important;
//    margin: 0px auto 10px auto;
//    padding: 3px 0;
  }
  a {
    text-transform: uppercase;
  }
  a.active {
//    background: gold !important;
  }
  .accordion {
//    padding-top: 10px;
    .collapse {
//      margin: 20px 0;
    }
    .accordion-body {
//      margin-bottom: 20px;
      top: -5px;
      position: relative;
    }
    .accordion-inner {
      ul {
        padding: 0px;
        position: relative;
      }
      li {
        text-align: left;
        padding-left: 10px;
        margin-bottom: 10px;
//        margin: 7px 20px;
        a, a:link, a:visited {
          &:hover {
//            @include text-shadow(-3px 2px 10px #fff200);
          }
          &:active {
//            text-decoration: underline;
          }
        }
      }

    }
  }
  .menu {
    .leaf {
      margin-bottom: 20px;
      a{
//        height: 28px;
//        padding-top: 4px;
//        margin-bottom: 20px;
      }
    }
    .leaf:last-child {
      margin-bottom: 0px;
    }
  }
  // AUTHORS LINK DROPOUT
  .authors-link.dropdown {
    .dropdown-menu {
      z-index: 4;
      position: absolute;
//      position: relative;
      left: 170px;
      top: -43px;
      background: rgba(black, 0.7);
      text-align: left;
      font-size: .8em;
      padding: 10px 0px 0px 10px !important;
      a, a:link {
        padding: 0px !important;
        display: inline;
        margin: 0px !important;
        background: none !important;
        color: white !important;
        @include border-radius (0);
        &:hover {
          border-bottom: 1px solid white;
        }
      }
      &:before {
        position: absolute;
        float: left;
        top: 32px;
        left: -20px;
        content: url('../images/drop-right-arrow.png');
        @include opacity(0.7);

      }
    }
  }
}



// editor menu
#block-system-user-menu {
//  display: none;
  z-index: 5555;
  h2 {
    display: none;
  }
  position: fixed !important;
  top: 0px !important;
  right: 0px !important;
  ul {
    background: rgba(#000000, 0.4);
//    float: right;
        @include border-radius(0px 0px 0px 5px);
        border: 2px solid #aaa;
    border-top: none;
    border-right: none;
    li {
      display: inline-block;
      a {
        background: #ccc;
        font-size: .8em;
        text-transform: uppercase;
        &:hover {
          background: rgba(0,0,0, 0);
        }
      }
    }
    li.first a {
      @include border-radius(0px 0px 0px 2px);
    }
  }
}