$nav_height: 235px;


/*
 * NAVBAR
 */
.hide-img {
  z-index: 999;
}

.blurred-img {
  //  @include filter(blur(15px));
  //  display: none;
}

.logo {

  //.logo, .logo img {
  img {
    position: relative;
    max-width: 100%;
    height: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
}

//.splash-page,
.nav-clone,
.nav-mini-spikes {

  img,
  svg {
    clip: rect(0, 2200px, 230px, 0);
    @include filter(brightness(60%));
    //    @include filter(grayscale(90%));
  }
}

.nav-clone {
  z-index: 999;
  //  height: 200px;
  //  position: fixed !important;
}

//.nav-mini-spikes
//{
//  svg {
//    clip: rect(0, 2200px, 230px, 0);
//    @include filter(brightness(60%));
//    //    @include filter(grayscale(90%));
//  }
//}

#navbar,
.nav-mini-spikes {
  /*
 * TOP IMAGE
 */
  overflow: hidden;

  #block-spike-layout-spike-header-image {
    width: 100%;
    overflow: hidden;
    margin: -20px;

    .field-item {
      position: relative;
      overflow: hidden;
      width: 100%;
    }

    img,
    svg {
      margin: -20px;
      top: 0px;
      left: 0px;
      width: 110%;
      height: 110%;
      position: fixed;
      overflow: hidden;
      margin-bottom: 0px;
    }

    svg {
      //      background-size: contain;
    }

    .blurred-img,
    .hide-img {
      background-size: cover !important;
      background-position: center center;
    }

    //    clip-path: polygon(0px 0px, 146.5px 207px, 300px 300px, 0px 1200px);
  }

  position: absolute;
  //  height: auto !important;
  top: 0px;
  left: 0px;
  overflow: hidden;
  background: red;

  //  z-index: 3;
  //  z-index: 5;
  //  height: $nav_height;
  margin: 0px !important;
  //  margin: 0 0 60px;
  padding: 0px !important;
  border: 0px;
  width: 100% !important;
  max-width: 100% !important;
  border: none;
  background: none !important;
  //  @include bottom-edge-tooth(gray);
  @include border-radius(0px);
  overflow: hidden;




  .container {
    //    &:after {
    //      //    content: url("/sites/all/themes/spike/images/spikes/edge-dn-gray.png");
    //      display: block;
    //      position: absolute;
    //      top: $nav_height - 25;
    //      width: 100%;
    //      height: 30px;
    ////      bottom: -28px;
    //      content: '';
    ////      background-image: url("/sites/all/themes/spike/images/spikes/edge-dn-gray.png");
    //      background-color: none !important;
    //      background-repeat: repeat-x;
    ////      margin-bottom: 60px;
    //      z-index: 5;
    ////      top:  0px;
    //      //    margin: 0px;
    //    }
    //    height: $nav_height;
    //    width: 100%;
    margin: 0px !important;
    padding: 0px !important;

    .logo-wrapper {
      height: $nav_height - 25;
      padding: 25px 0px 30px 0px;
      margin: 0px auto 0px auto;
      text-align: center !important;
      position: relative;
      z-index: 7;

      .logo {
        img {
          //          width: 75%;
          position: absolute;
          //          position: relative;
          //          top: 75%;
          //          width: 570px;
        }
      }

    }
  }

  .navbar-collapse {
    position: relative;

    z-index: 4;
  }
}

#block-menu-menu-language,
#block-spike-lang-language-control,
#block-spike-search-spike-search-form,
#block-spike-newsletter-spike-subscribe-block-navbar //#search-block-form

  {
  z-index: 10;
  top: 30px;
  position: absolute;

  input {
    padding-top: 3px !important;
    text-transform: uppercase;
    font-size: .9em;
  }
}

#block-spike-search-spike-search-form {
  margin-top: -35px;
}

#block-spike-newsletter-spike-subscribe-block-navbar {
  margin-top: 20px;
  color: slategray !important;

  a,
  a:link,
  a:visited {
    text-transform: uppercase;
    color: slategray !important;
    font-size: .9em;
    line-height: 1.2;
    padding-top: 5px;
  }
}

#block-menu-menu-language,
#block-spike-lang-language-control,
#block-spike-lang-language-control--2 {
  //  z-index: 10;
  //  float: left;
  //  left: 00px;
  //  position: absolute;
  //  top: -125px;
  margin-top: -15px;
  right: 30px;

  ul {
    list-style: none;
    text-align: right;
  }

  li {
    list-style: none;
    padding: 0px 0px 10px;

    //      margin-right: 30px;
    //      overflow: hidden;
    //      width: 35px;
    //      height: 25px;
    a.active {
      &:before {
        content: '';
        width: 0px;
        float: left;
        position: relative;
        left: -15px;
      }
    }

    a,
    a:link,
    a:visited {
      color: rgba(black, 1) !important;
      text-transform: uppercase;
      background-size: 35px 25px;

      &:hover {
        color: #ddd !important;
        //        color: rgba(white, 1) !important;
        background: none;
      }
    }

    a:hover {

      //      color: #ddd !important;
      //      &:before {
      //        content: '';
      //        width: 0px;
      //        float: left;
      //        position: relative;
      //        left: -20px;
      //        top: -2px;
      //      }
    }
  }
}

.non-front-lang {
  #block-spike-lang-language-control--2 {
    position: absolute;
    top: 30px;
    right: -100px;
    z-index: 9999;

    li {

      a,
      a:link,
      a:visited {
        color: black !important;
      }
    }
  }
}

.node-type-edition,
//.node-type-article,
.node-type-image-article,
.page-prelaunch {
  #block-spike-lang-language-control--2 {
    display: none;
  }
}

#bottom-region {

  #block-spike-newsletter-spike-subscribe-block-navbar,
  #block-spike-search-spike-search-form {
    opacity: 0;
    visibility: hidden;
  }
}


// search bar
#block-spike-search-spike-search-form,
#block-spike-newsletter-spike-subscribe-block-navbar,
#search-block-form {
  @include navbar-styler();
  width: 200px;
  //  position: absolute;
  //  top: -115px;
  left: 20px;
  margin-right: 0px;
}

/*
NAVBAR EXCEPTIONS
OMIT NAVBAR */
.not-front,
.node-type-article,
.node-type-image-article,
.node-type-issue,
.node-type-edition,
.page-user,
.page-node-add,
.page-node-edit,
.page-admin,
.page-shop {
  .main-container {
    padding: 0px;
  }

  .nav-clone,
  #navbar {
    display: none;
    position: fixed !important;
    z-index: 1;
    height: 0px;
    min-height: 0px;
    @include transition-property(height);
    @include transition-duration(200ms);

    img {
      @include transition-property(opacity);
      @include transition-duration(200ms);
      @include opacity(0);
    }

    &:hover {
      img {
        @include opacity(1);
      }

      height: $nav_height;
    }
  }

  // since we hide the top, bring other stuff up
  .sb-1 {
    .region {

      //      margin-top: 0px;
      &:before {
        display: none !important
      }
    }
  }

  .sb-2 {
    margin-top: 0px;
    padding-top: 20px;

    .region:before {
      display: none !important;
    }
  }

}


.page-issues {
  #navbar {
    display: none !important;
  }
}

/* SPIKE ADVERTS
 * FLOATING ADVERTS ON SPLASH PAGE
*/
.view-spike-adverts-floating .views-row {
  position: absolute;
  //  z-index: 9;
  z-index: 99999;
  float: left;
}
