#block-views-overlay-block-1 {

  .node-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    min-height: 100%;
    transition: a 200ms ease-in;
    z-index: 999;

    &.overview--closed-by-user {
      opacity: 0;
      min-height: 0;
      z-index: -1;
      height: 0;
      width: 0;
    }



    header {
      display: none;
    }

    .group-wrapper {
      width: 90%;
      height: 90%;
      margin: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      img {
        display: none;
      }

      a.image-link {
        width: 100%;
        height: 100%;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      .flag-outer {
        position: absolute;
        z-index: 1;
        width: 40px;
        height: 40px;
        top: 0;
        right: 0;
        margin-right: -10px;
        margin-top: -13px;

        @media (max-width: 800px) {
          margin-right: 0;
        }

        font-size: 24px;
        transition: opacity 200ms ease-in;
        // opacity: 0;
        text-align: right;
        color: white;

        a,
        a:link,
        a:visited {
          color: white;
        }
      }

      &.has-hover .flag-outer {
        opacity: 0.7;
      }


      @media screen and (min-width: 786px) {

        .field-name-field-image-overlay {
          display: block
        }

        .field-name-field-image-overlay-aux {
          display: none
        }

      }

      .field-name-field-link {

        display: none;

        text-align: center;
        margin-top: 20px;

        a {
          font-family: folioMed, arial, sans-serif;
          font-size: 24px;
          color: white;
          text-transform: uppercase
        }
      }
    }
  }
}
