// bootstrap overrides


.panels-flexible-region-8-center,
.panels-flexible-region
{
  width: 100% !important;
}
#top-region, #bottom-region {
  a, a:link, a:visited {
    color: black;
    @include transition-property(color);
    @include transition-duration(50ms);
  }
  a:hover {
    text-decoration: none;
    color: $gray2;
  }
}

.sticky-footer a:hover {
  color: black !important;
}

.page-header {
  border-bottom: 0px;
  text-align: center;
}

.footer {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

#block-spike-layout-spike-main-menu-block {
  .media.files-link {
    margin-top: 0px;
  }
 }
.form-control {
  color: inherit !important;
  padding: 10px;
//  padding: inherit !important;
}
.form-control::-moz-placeholder {
  color: inherit !important;
}
