/*
info pages
*/
.page-node {
  .panel-flexible {
    .panels-flexible-region-inside {
      background: white;

    }
    .pane-node-title {
      .pane-title {
        //        color: rgba(255,255,255, 0)
      }
    }
    .pane-node-body {
      background-color: white;
      margin-top: -45px;
      .field-name-body {
        margin-bottom: 0px !important;
        padding-bottom: 30px;
      }
    }
    .sticky-footer-seperator {
      margin-top: -18px;
    }
  }
}




.node-type-page {
  .sb-2 {
    background-color: white;
  }
  header {
    //    display: none;
    #block-system-main {
      .node-page {
        .field-name-body {
          padding-bottom: 60px;
        }
      }
    }
  }
  .page-header {
    padding-bottom: 60px;
  }
  #page-content {
    //    background-color: white;
    width: 100% !important;
    padding-top: 60px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 24px;
    .page-header,
    .field-name-field-blurb
    {
      width: 640px;
      margin: 0 auto;
    }
    .field-name-body {
      margin: 60px 200px;
      .field-item {
        @include column-width(200px);
        @include column-gap(20px);
        p {
          font-size: 15px;
          margin-bottom: 20px;
          @include break-inside(avoid);
          img {
            position: relative;
            width: 100% !important;
            height: 100% !important;

          }
        }
      }
    }
    .field-name-field-blurb {
      font-size: 15px;
    }
  }
}
.page-node-853,
.page-node-854
{
  #page-content {
    .field-name-body {
      .field-item {
        @include column-count(1);
        @include column-width(100%);
        @include column-gap(0px);
        text-align: center;
      }
    }
  }
}
.page-node-851,
.page-node-852
{
  .field-name-body {
    .field-item {
      @include column-width(unset !important);
      @include column-gap(unset !important);
    }
  }

}

.page-terms {
  #page-content {
    .page-header {
      text-transform: uppercase;
      font-size: 28px;
      margin-bottom: 60px;
    }
    text-align: center;
    #block-system-main {
      font-size: 24px;
      line-height: 42px;
    }
  }
}

.page-newsletter {
  #page-content {
    margin: 0 auto;
    h1.page-header {
      //      font-family: logoTitle, arial, sans-serif;
      text-align: center;
    }
    #spike-newsletter-form {
      max-width: 600px;
      padding-top: 40px;
      margin: 0 auto;
      .intro {
        text-align: center;
        padding: 20px 0 40px;
      }
      .form-item-name-first, .form-item-name-last {
        width: 48%;
        display: inline-block;
      }
      .form-item-name-first {
        margin-right: 20px;
      }
    }
  }
}


/* custom sizing info pags
*/
// 2 COL
#about-page .spike-banded-element .field-name-body .field-item
{
  width: 600px;
  margin: 0 auto;
  position: relative;
  left: 50px;
}
#about-page .pane-node-body .field-name-body .field-item {
  width: 600px;
  margin: 0 auto;
  position: relative;
  left: 50px;
  @include column-gap(100px);
}

// last panel no bottom spike formatter
#about-page {
  .spike-banded-element:last-child {
    .bp-spike-after, .shadow-bottom { display: none; }
    .field-name-field-image {
      margin: 0 auto;
      padding:  60px 0 90px 0;
      max-width: 900px;
      clear: both;
      .field-item {
        position: relative;
        width: 33%;
        display: inline-block;
        padding: 0 20px;
        height: 90px;
        img {
          position: absolute;
          height: 100%;
          width: auto;
        }
      }
    }
  }
}


/* special case links
*/
#about-page .spike-banded-element .field-name-body .field-item {
  a.link, a.link:visited {
    color: black !important;
  }
}


/* INFO PAGES
*/

.info-page h2{
  font-family: folioMed, arial,sans-serif !important;
}

$aboutBgColor : #FFFF96;
#about-page {

  .pane-node-field-blurb {
    padding-bottom: 30px;
  }
  .pane-node-body {
    margin-top: 0;

  }
  .team-node-body {
    margin-top: -22px;
    padding-bottom: 30px;
  }

  .sticky-footer {
    background: $aboutBgColor !important;

    .field-name-field-image {
      .field-items {
        display: block;
        padding-top: 60px;
        margin: 0 auto;
        width: 800px;
        vertical-align: top !important;
        position: relative;
        left: 50px;
        .field-item {
          width: 200px;
          display: inline-block;
          margin-right: 50px;
          vertical-align: top;
          img {
            max-height: 100%;
            max-width: 100%;
            height: auto;
          }
        }
      }
    }
  }

  // custom styles &
  // alterations to these styles which are set via quotation spike styles
  .spike-banded-element {
    .inside {
      background-color: $aboutBgColor;
    }
    .pane-title {
      padding-top: 60px;
    }
    .field-name-body {
      padding-bottom: 60px;
      margin-bottom: 0px  !important;
    }
    .bp-spike-before,
    .shadow-top,
    .bp-spike-after,
    .shadow-bottom {
      float: left;
    }
    .bp-spike-before {
      top: 0px;
    }
    .shadow-top {
      //      display: none;
      top: -22px;
      left: -1px;
    }
    .shadow-bottom {
      //      display: none;
      top: -44px;
      left: 2px;
    }
  }
}

/* terms & conditions page - online shop */
.page-node-851,
.page-node-852,
.page-node-853,
.page-node-854
{
  .panel-separator {
    margin: 0;
  }
  .spike-banded-element {
    .bp-spike-after,
    .shadow-bottom,
    h2 {
      display: none;
    }
  }
  #sticky-footer-files {
   background-color: $aboutBgColor;
    .pane-title {
      padding-bottom: 60px;
    }
    .pane-content {
      padding-bottom: 30px;
    }
  }
}

.sticky-footer {
  .field-item {
    img {
      //width: 100px !important;
      height:auto !important;
    }
  }
}
