/* FRONT PAGE
*/

@media (min-width: 1024px) {
  .field-name-image-info .mobile-nav-wrapper {
    display: none;
  }
}


@media (max-width: 1024px) {


  /*
  hide header elements and move main container to top of viewport
  */
  .sb-2,
  .nav-clone,
  #navbar,
  .splash-wrapper,
  //  .logo,
  #block-spike-search-spike-search-form,
  #block-spike-newsletter-spike-subscribe-block-navbar,
  #front-top-spikes,
  #front-top-after {
    display: none !important;
  }

  #bg-insert {
    //width: 100% !important;
    //top: 80px !important;
    //left: 0px  !important;
    //margin: 0px !important;
    //img {
    //  position: absolute;
    //  width: 300px;
    //
    //}
  }

  #page-content {
    // padding: 20px 0;
    width: 100% !important;
  }

  .col-sm-11 {
    top: 0px !important;
  }

  /*
  fit contents to viewport
  */
  .view-spike-front-page {
    position: relative !important;
    width: 100% !important;

    .tile-set-wrapper {
      position: relative;
      width: 100% !important;
    }

    .views-row,
    .tiled-row {
      padding: 0 39px;
      //max-width: inherit !important;
      margin-bottom: 30px;
      box-sizing: border-box;
    }
  }
}

@media (max-width: 414px) {
  .view {
    .node-image-article.node-teaser {
      .field-name-field-image {
        //height: 335px !important;
      }
    }

    .node-special-content {
      //      position: absolute;
      left: 0px;
      width: 100%;
    }
  }
}

/* ISSUES
*/
@media (max-width: 1024px) {
  .node-type-issue {
    #block-system-main {
      .node-issue.view-mode-full {
        .group-product {
          width: 400px;
        }
      }
    }
  }
}

@media (max-width: 414px) {
  .service-links {
    width: 100% !important;
  }

  .sticky-footer-seperator {
    #sticky-shadow {
      height: 28px;
    }
  }

  .sticky-footer {
    .views-row {
      height: inherit !important;

    }
  }
}

/* BAR TOGGLE - reduce the size phones
** make sure rollover is disabled
*/
@media (max-width: 414px) {
  #bar-toggle {
    width: 40px;

    #home-link {
      width: 40px;
      height: 110px;

      .toggle-img {
        font-size: 1.5em;
        width: 125px;
        left: -42px !important;
      }

      .toggle-img-2 {
        display: none;
      }
    }

    .toggle-inner {
      width: 40px;

      #toggle-el {
        padding: 7px 0;

        .box {
          height: 2px;
          margin: 3px auto;
        }
      }
    }
  }
}

/* IPAD
*/
@media (max-width: 1024px) {
  .sticky-footer {
    .view {
      .views-row-last {
        display: none;
      }
    }
  }

  .page-node.node-type-image-article .group-upper,
  .page-node.node-type-edition .group-upper {
    margin-bottom: 0;
  }

  .node-type-article.page-node,
  .node-type-image-article.page-node {
    #page-content {
      .node {
        .field-name-body {
          h2 {
            width: 640px;
            margin: 20px auto;
            padding: 0px;
          }
        }
      }
    }
  }

  .node-type-image-article.page-node {
    .group-upper {
      .field {
        margin: 0 80px;
      }
    }
  }

}

/*
cool mixin for responsive width fitting
*/
@mixin frontFitterResponsive($w) {
  @media (max-width: $w) {

    h1,
    h2 {
      font-size: 20px;
    }

    // img {
    //   max-width: $w - 100;
    //   height: auto;
    //   margin: 0 auto;
    //   display: block;
    //   margin-top: 50px;
    // }

    /* FRONT PAGE & TILE STYLING
    */
    .views-row,
    .tiled-row {
      width: $w;

      .node-teaser {
        width: $w - 40 !important;
      }

      .teaser-square {
        .field-name-compound-info {
          margin: 0;
        }

        .field-name-field-image {
          .field-item {
            a {
              height: $w - 85 !important;
              width: $w - 85 !important;

              img {}
            }
          }
        }
      }
    }

    // node styling
    .page-node.node-type-article,
    .page-node.node-type-image-article,
    .page-node.node-type-issue {
      #block-system-main {
        .pane-node-content {
          padding-top: 30px;
        }

        #article-thumbnails {}

        .field-name-body {
          margin: 0;

          h1 {
            width: inherit;
          }

        }

        .field-name-first-img-cap {
          display: none;
        }

        h2.pane-title,
        .group-article-top,
        .field-name-field-blurb,
        .field-name-body p,
        .field-name-body h1,
        .field-name-body h4,
        .field-name-body .insert-image,
        .group-tags,
        .field-name-field-image,
        .image-caption-insert,
        //.field-group-div,
        #block-spike-layout-spike-share {
          width: $w - 120 !important;
          //margin: 0 45px !important;
        }

        h2.pane-title {
          // width: 220px !important;
          // padding-bottom: 20px !important ;
        }

        .field-name-field-title-sub {
          font-size: 20px !important;
          margin-bottom: 0px !important;
        }

        .field-name-auth-by-line {
          font-size: 16px !important;
          margin: 20px 0 20px 0 !important;
        }

        .field-name-compound-info {
          margin-left: 35px;
        }

        .field-name-field-image {

          //          margin: 0px 20px !important;
          .field-item {
            margin: 0px !important;

            //            position: relative;
            img {
              margin-top: 0px !important;
              width: 100%;
              height: auto;
            }
          }
        }

        .field-name-field-blurb {
          margin-bottom: 0px !important;
        }

        .field-name-body {
          margin-top: 30px !important;

          p {
            //padding: 10px 0;
          }

          h2 {
            padding: 0 20px !important;
            width: inherit !important;
          }

          .insert-image {
            blockquote {
              padding: 0 !important;

              p {
                margin: 20px 0 20px 0 !important;

              }
            }
          }
        }

        .field-name-field-category {
          margin-top: 30px;
        }
      }

      .sticky-footer-loadmore {
        .tiled-row {
          padding: 0 33px;

          .field {
            width: 100% !important;
          }
        }
      }
    }

    .page-node.node-type-image-article {
      #block-system-main {
        .group-upper {
          width: 100% !important;

          .field {
            img {
              width: 100%;
              height: auto;
            }

            margin: 0;
            //          margin-right: 20px !important;
          }
        }

        .field-name-field-image {
          padding: 0px !important;

          .field-item {
            padding: 0 5px 20px 5px;
          }
        }
      }

    }

    // ISSUES
    .page-node.node-type-issue {
      #page-content {
        margin-top: 40px !important;
      }

      .field-name-field-image {
        // display: none !important;
      }
    }

    // STICKY FOOTER
    .sticky-footer-seperator {
      #sticky-cover {
        top: -1px !important;
      }
    }

    .sticky-footer {
      .view {
        position: relative;
        width: $w;
        margin: 0px !important;

        .views-row {
          display: none;
          margin: 0 20px !important;

          .field {
            margin: 0px !important;
            width: $w - 40 !important;
            ;
          }

          .field-name-issue-image-compound {
            .field-items {
              width: 300px;
              left: 50%;
              margin-left: -150px;
            }
          }

          .field-name-field-image {

            //            .field-items {
            //              left: 50%;
            //            }
            img {
              position: relative;
              width: 100% !important;
              height: auto;
            }
          }
        }

        .views-row-first {
          display: inherit
        }
      }
    }
  }

  //SMALL VERSION SPECIFIC

  @media (max-width: 414px) {
    .view {
      .tiled-row {
        .node-teaser {
          width: 100% !important;
        }

        .node-article {
          margin-bottom: 20px !important;

          .field-name-field-image {
            img {
              max-width: 414px;
              width: 100%;
            }
          }

          .field-name-title,
          .field-name-field-blurb {
            width: 270px;
            margin: 0 auto;
          }
        }

        .node-image-article {

          //          width: 375px !important;
          .field-name-field-image {
            // NOTICE! for whatever reason, this value appears larger in the
            // browser mobile size - on most mobile devices, this is the
            // desired visible height
            max-height: 335px !important;
          }
        }
      }
    }

    .tile-breakpoint {
      padding: 0 !important;
    }

    .bp-spike-before {
      top: 43px;
    }

    .bp-spike-after {
      top: -21px;

      .shadow-top {
        //        top: -43px;
        height: 20px;
      }

      .shadow-bottom {
        top: -44px;
        height: 20px;
      }

      .node-special-content {
        .field-name-field-display-extra-ref img {
          right: -33px !important;
        }
      }
    }



  }
}

@media (max-width: 414px) {
  #block-spike-lang-language-control--2 {
    display: none;
  }
}

/* IPHONE 6 PLUS */
@include frontFitterResponsive(414px);
/* IPHONE 6 */
@include frontFitterResponsive(375px);
/* GALAXY S4 */
@include frontFitterResponsive(360px);
/* IPHONE 4 & 5 GALAXY S SII */
@include frontFitterResponsive(320px);


@media (max-width: 800px) {

  .prev-mobile {
    z-index: 100000;
    position: absolute;
    bottom: 75px;
    width: 40px;
    height: 20px;
    left: 20px;
    background: url('/sites/all/themes/spike/images/spike-l.png') no-repeat;
    background-size: contain;
  }

  .next-mobile {
    z-index: 100000;
    position: absolute;
    bottom: 75px;
    width: 40px;
    height: 20px;
    right: 20px;
    background: url('/sites/all/themes/spike/images/spike-r.png') no-repeat;
    background-size: contain;


  }

  .node-type-page {
    #page-content {

      .page-header,
      .field-name-body {
        margin: 60px 100px 0 !important;
      }
    }
  }
}

@media (max-width: 400px) {
  .node-type-page {
    #page-content {
      .field-name-body {
        margin: 60px 60px 0 !important;
      }
    }
  }
}

@media (max-width: 350px) {

  .view .tiled-row .node-article .field-name-title,
  .view .tiled-row .node-article .field-name-field-blurb {
    width: auto !important;
  }

  .node-image-article.view-mode-teaser .field-name-field-image {
    height: 280px !important;
  }

  .page-node.node-type-image-article .title-clone-wrapper h1,
  .page-node.node-type-edition .title-clone-wrapper h1 {
    width: auto !important;
  }
}
