/* SEARCH */
@mixin search-input {
  // margin: 18px 20px 13px 20px;
  width: 140px;
  font-size: .9em;
  text-transform: uppercase;
  @include border-radius(15px);

}

// // .page-subjects,
// .page-authors,
// .page-search {
//   #page-content {

//     .views-exposed-widgets,
//     #block-views-exp-spike-search-page-1,
//     #block-views-exp-spike-search-page-1--2 {
//       width: 550px;
//       position: relative;
//       //      top: -75px;
//       text-align: center;
//       margin: 0 auto;
//       margin-bottom: 10px;

//       //      left: 300px;
//       .views-exposed-widget,
//       #edit-keys-wrapper {
//         label {
//           display: none;
//         }

//         input {
//           @include search-input();
//           width: 500px;
//           height: 25px;
//           border: 1px solid darkgray !important;
//           text-align: center;
//         }

//         .form-type-select {
//           select {
//             font-size: .9em;
//             text-transform: uppercase;
//             border: 1px solid darkgray !important;
//             height: 35px;
//           }
//         }

//         button {
//           //          position: relative;
//           //          top: -38px;
//           //          left: 125px;
//           //          float: right;
//           //          background: none ;
//         }
//       }

//       .views-widget-filter-type {
//         //        margin-left: 130px;
//       }

//       .views-submit-button {
//         display: block !important;

//         //        float: left;
//         button {
//           //          display: none;
//           padding: 4px 10px;
//           margin-top: 0;
//           background: none;
//           color: slategray;
//           padding-top: 0.5em;

//           //          border: 0px;
//           //          float: right;
//           //          margin: 0px;
//           //          padding: 0px;
//           //          position: relative;
//           //          left: 494px;
//           //          top: -34px;
//           &:hover {
//             background-color: slategray;
//             color: white;
//           }

//           span {}
//         }
//       }

//       #edit-keys-wrapper,
//       .views-submit-button {
//         //        vertical-align: top;
//         //        display: inline-block;
//         //        padding: 0px;
//       }
//     }
//   }
// }

.page-search {
  #page-content {

    .views-exposed-widgets,
    #block-views-exp-spike-search-page-1,
    #block-views-exp-spike-search-page-1--2 {

      .views-exposed-widget,
      #edit-keys-wrapper {
        display: inline-block;
      }

      .views-widget-filter-field_online_bool,
      .views-submit-button {
        display: inline-block !important;
      }

      .views-exposed-widget.views-submit-button {
        text-align: left;
      }

      .views-widget-filter-field_online_bool {
        margin-left: 50px;
      }
    }
  }
}

.views-exposed-form .views-exposed-widget {
  float: none;
  display: inline-block;
  min-width: 110px;
}

#main-content #edit-input-wrapper {
  display: block;
  width: 500px;
}
