.pane-editions-panel-pane-1 {
  .pane-title {
    margin-bottom: 30px;
  }
}


#flip-content {

  //  height: 359px;
  #side-1,
  #side-2 {

    min-width: 291px !important;

    //    max-width: 300px !important;
    a {
      display: block;
      color: white !important;
      //      position: absolute;
      //      bottom: 0;
      //      height: 100%;
    }

    img {
      //      width: 100% !important;
      //      height: auto;
      //      vertical-align: bottom;
      //      position: absolute;
      //      bottom: 0;
    }
  }
}

.node-subscription.node-teaser,
.node-issue.node-teaser,
.node-edition.node-teaser {

  .field-name-field-product,
  .field-name-field-product-ref-multiple {
    .btn {
      @include add-to-cart();
    }
  }
}

/* THEME EFFECTS
*/
.pane-spike-layout-themescroll-down {
  display: none
}

#raining-rings {
  .ring {
    position: fixed !important;
    z-index: 10;
    height: 0px;
    width: 0px;
  }
}

.pane-spike-layout-themeblock-flying-rings.theme-effect {
  height: 0px !important;
  width: 0px !important;
  border: 0px !important;
  position: absolute;
}

/* PAGE FORMATTING
*/
.page-shop {
  #page-content {
    margin-top: 0px;
    width: 100% !important;
    padding-top: 0px;
  }

  .region-content {
    position: relative;
    width: 100% !important;
    overflow: hidden;
  }
}

/* CHECKOUT
*/
.page-checkout-complete {
  #page-content {
    .region-content {
      #commerce-checkout-form-complete {
        text-align: center;
        line-height: 25px;

        a,
        a:link,
        a:visited {
          color: $gray2;
        }

        a:hover {
          color: black;
        }

        .totals {

          .payment-method,
          .status {
            display: none;
          }
        }
      }
    }
  }
}

/* PANEL FORMATTING
*/

#shop-page {
  h2 {
    text-align: center;
    //    text-transform: uppercase;
    //      padding: 60px 0;
  }

  h1.page-title-clone {
    text-align: center;
    padding-top: 60px;
    margin-bottom: -60px;
  }

  .panel-pane {
    background: white;

    .pane-content,
    .pane-title {}

    .title-clone {
      position: fixed;
      text-align: center;
      width: 100%;
      visibility: hidden;
      padding-top: 10px;
      //      color: pink;
      top: 0px !important;
      z-index: 10;
    }

    .sticky-panel-title {
      visibility: hidden;
    }

    border-bottom: 1px solid #aaa;
    border-bottom: 0px !important;
    border: 0px;

    //    border-top: 1px solid #ccc;
    //    min-height: 500px;
    h2 {
      margin-top: 0px;
      padding: 60px 0 60px 0;
      //      margin: 60px 0 60px;
    }
  }

  .onScreen {
    .title-clone {
      visibility: visible;
    }

  }

  .view {
    text-align: center;
    width: 100%;

    //    padding-bottom: 60px;
    //    height: 100%;
    .views-row {

      // height: 504px;
      margin: 0 30px 30px 30px;
      position: relative;
      //      height: 100%;
      width: 300px !important;
      //      margin: 0 auto;
      padding-bottom: 30px;

      //      vertical-align: bottom !important;
      .node-teaser {
        // position: absolute;

        //        height: 100%;
        //        background: red;
        //        bottom: 0px;
        //        vertical-align: bottom !important;
        .field {
          vertical-align: bottom;

        }
      }
    }
  }

  .view.view-id-products_recommended {
    .node-teaser {
      bottom: 0px;
    }
  }

  .view-external-products {
    .view-content {
      width: 100% !important;
    }

    .views-row {

      //      height: 400px;
      .node-teaser {
        //        top: 0px;
      }
    }
  }

  //  .view {
  //    #slider {
  //      position: relative;
  //      height: 100%;
  //      .inner {
  //        position: relative;
  //        height: 100%;
  //      }
  //    }
  //  }
  .view-spike-issues {
    .more-link {
      text-transform: uppercase;
      font-size: 18px;
      margin-bottom: 30px;
    }
  }

  .pane-products-recommended-panel-pane-1 {

    //    amrgin
    //    z-index: 6 !important;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    //    background: #ddd;
    background: #ccc;
    //    background: black;
    //    background: $grayGian;
    border-top: 0px;

    //    padding-top: 60px;
    //    padding-bottom: 60px;
    h2 {
      margin-top: 0px;
      color: black;
      //      color: white;
      //      margin-bottom: 60px;
    }

    .view-content {
      //      margin-top: 30px !important;
      width: 100% !important;
    }

    .liScroll-container,
    .mask {
      //      height: 500px;
      //      display: none;
      //      width: 100%;
    }

    .view {
      color: white;

      a,
      a:link,
      a:visited,
      a:hover {
        color: white !important;
      }

      height: 545px;

      .views-row {
        margin-left: -3px !important;
        margin-bottom: 0px;

        .node-external-product {
          margin-bottom: 39px;

          .field-name-field-image {
            margin-bottom: 28px;

            img {
              //              @include box-shadow(-1px 0px 24px 9px rgba(#ffffff, 0.8));
              @include box-shadow(rgba(black, 0.2) 0px 2px 6px 2px);
            }
          }
        }
      }
    }

    .views-row #side-1,
    .views-row #side-2 {
      //      border: 1px solid gray;
      //      @include box-shadow(-1px 0px 24px 9px rgba(red,0.1));
      @include box-shadow(-1px 0px 24px 9px rgba(#ffffff, 0.8));
      //      @include box-shadow(-1px 0px 24px 9px rgba(#f7a3a6, 0.3));
    }

    .views-row {}
  }

  #spikes-recommend {}

  .pane-spike-issues-panel-pane-1 {

    //    background: lighten(#eae8d3, 5%);
    .view-content {
      width: 100% !important;

      .views-row {
        .node {
          .field {
            vertical-align: bottom !important;
          }
        }
      }
    }

    .stacked-wrapper {}
  }

  .pane-editions-panel-pane-1,
  .pane-external-products-panel-pane-1 {

    //    background: lighten(#eae8d3, 0%);
    h2.pane-title {
      padding-bottom: 0px;
    }

    .view-content {
      width: 100% !important;

      //      margin-bottom: 60px;
      .views-row {
        //        border: 3px dotted pink;
        //        height: inherit;
        min-height: 350px;
        // margin-bottom: 60px;

        //        display: none;
        //        max-height: 550px;
        .node {
          bottom: 0px;

          .field-type-image,
          .field-name-issue-image-compound {
            //            max-height: 300px;
            // overflow: hidden;
            // position: relative;
            // img {
            //   max-height: 350px !important;
            //   width: auto !important;
            // }
          }
        }
      }
    }

    .stacked-wrapper {}
  }

  .pane-spike-subscriptions-panel-pane-1 {
    padding-bottom: 60px;

    h2 {
      padding-top: 60px;
      margin-bottom: 30px;
      padding-bottom: 0px;
    }

    //      background: darken(#eae8d3, 5%);
    //    background-color: $aqua;
    .views-row {
      display: inline-block;
      margin: 0px auto;
      height: 290px;
      position: relative;

      .node {
        position: absolute;
        bottom: 0;
      }

      .field-name-body {
        margin-bottom: 10px;
      }

      .field-name-field-product-ref-multiple {
        .commerce-add-to-cart {
          .form-type-radios {
            >label {
              display: none;
              //              margin-right: -15px;
              //              background: pink;
            }
          }
        }
      }
    }

    .views-row-1 {
      .field-name-title {
        margin-bottom: 18px;
      }
    }

    .views-row-2 {
      margin-right: -60px !important;
    }

    .stacked-wrapper {}
  }

  .pane-external-products-panel-pane-1 {
    padding-bottom: 0px !important;
    //    background: darken(#eae8d3, 10%);
    border-bottom: 0px;
    //    &:after {
    //      display: block;
    //      position: relative;
    //          top: 30px;
    //      width: 100%;
    //      height: 30px;
    //      content: '';
    //      background-image: url("/sites/all/themes/spike/images/spikes/edge-dn-shop.png");
    //      background-color: none !important;
    //      background-repeat: repeat-x;
    ////      @include transform(rotate(180deg));
    //      //    @include box-shadow(rgba(black, 0.5) 2px 0px 3px);
    //    }


  }

  .sticky-footer {
    //    padding-top: 0px !important;
    border: 0px;

    h2 {
      margin: 0px !important;
    }

    .view {
      margin: 0px;
      padding: 0px;

      .views-row {
        margin: 0px;
        padding: 0px;
      }
    }
  }
}

.node-external-product.node-teaser {
  .field-name-field-image {
    .field-item {
      img {
        max-height: 375px;
        width: auto;

      }
    }
  }
}
