/*
 * SIDEBAR
 */


/* TEMP
* temp for launch until they are ready for feed
*/
#block-spike-layout-spike-feed-block {
  //  display: none;
}
#block-views-spike-hot-content-block {
  header {
    //    display: none;
  }
}
.sidebar-standard .sb-2 .region {
  padding-top: 0px !important;
}
/* END TEMP
*/


#block-part-tag {
  @include pill-style(black, white, white);
  color: white !important;
  margin: 0 20px 20px 0;
  text-transform: uppercase;
  text-align: center;
}

.front,
.not-front {
  .sb-1 .region {
    padding-top: 20px;
  }
}
.not-front.sidebar-standard {
  .sb-2 {
    .region {
      padding-top: 30px;
    }
  }
}
.sidebar-articles {
  .sb- .region-sidebar-second {
    padding-top: 10px;
  }
}
.sb-1, .sb-2 {
  position: fixed;
  //  background:
  top: 0px;
  height: 110% !important;
  width: $sidebarW;
  //  position: absolute;
  padding: 0px;
  min-height: 100% !important;
  z-index: 6;
  //  overflow: hidden;
  //  overflow: visible !important;
  padding-bottom: 26px;
  .region {
    width: $sidebarW;
    position: relative;
  }
  #block-spike-layout-spike-main-menu-block,
  #block-spike-layout-spike-subscribe-block,
  #block-spike-newsletter-spike-subscribe-block
  {
    a, a:link, a:visited {
      color: black;
    }
    a:hover {
      color: $gray2;
      text-decoration: none;
    }
  }
  #block-spike-newsletter-spike-subscribe-block {
    a:hover {
      color: $gray1;
    }
  }
  ul.menu {
    padding-left: 0;
  }
}
.sb-1 {
  //  left: 2px;
  left: 0px;
  //  @include box-shadow(inset -1px 0px 3px 0px rgba(33,33,33,1));
  min-height: 100%;
  margin-top: 25px;
  background-image: url("/sites/all/themes/spike/images/sb-left.png");
  background-repeat: repeat-y;
  background-position: top right;
}
.sb-2 {
  right: 0px;
  margin-top: 25px;
  //  top: -25px;
}
.sb-1 {
  //  padding-top: 30px
  background-color: #ddd;
}
.sidebar-standard {
  .sb-1, .sb-2 {
    background-color: #ddd !important;

    //    display: none !important;

  }
  .sb-1 {
    width: 180px;
    //    left: -3px;
  }
  .sb-2 {
    background-image: url("/sites/all/themes/spike/images/sb-right.png");
    background-repeat: repeat-y;
    background-position: top left;
    //    @include box-shadow(inset 2px 0px 5px 0px rgba(gray, 0.6));
    //    @include box-shadow(inset 1px 0px 5px 0px rgba(33,33,33,1));
  }
}
.sidebar-articles,
.node-type-issue {
  .sb-1 {
    background-color: #ddd;
  }
  .sb-2 {
    margin-top: 80px;
    .region {
      padding-right: 20px;
    }
    //    background: white;
    .view {
      .views-row {
      }
    }
  }
}

.region-sidebar-first {
  //  margin-top: 20px;
  width: 180px;
  position: relative !important;
  //  padding-top: 20px;
}


/* SIDEBAR STANDARD STYLING
*/
.sidebar-standard {
  .region-sidebar-first {
    //    margin-top: 20px;
    //    width: 180px;
    //    position: relative !important;
  }
  .region-sidebar-second {
    .image-field-caption {
      display: none !important;
    }
    position: absolute;
    width: 180px;
    .nav-pills {
      border-bottom: 1px solid $gray2;
      padding:  0px 0px 20px 30px;
      z-index: 3;
      li {
        margin: 0px;
        text-align: center;
        margin: 0px;
        height: 25px;
        text-transform: uppercase;
        @include pill-style(rgba(white, 0), rgba($blue1, 0.5), #ddd);

        a {
          &:hover {
            color: $gray2 !important;
          }
        }
      }
      li.active {
        z-index: 1;
        margin-left: 10px;
        @include pill-style($aqua, white, #ddd);
      }
    }
    .tab-content {
      .field-name-post-date, .timeago {
        color: $gray2;
      }
      .field-name-field-image {
        margin-top: 10px
      }

    }
    .view {
      overflow: hidden;
      .views-vTicker-item {
        border-bottom: 1px solid $gray2;
        overflow: hidden;
      }
      .views-row.active-top-rotator {
        @include transition(1s all ease);
        border-left: 1px solid black;
        border-top: 3px solid black;
      }
      .views-row {
        position: relative;
        img {
          width: 100%;
          height: auto;
          position: relative;
        }
        .view-mode-teaser, .view-mode-mini_teaser {
          padding: 20px;
          width: 100%;
          height: auto;
        }
        border-bottom: 1px solid $gray2;
        .node {
          .render-el {
            display: block;
            .delete-link {
              position: relative;
              top: -25px;
              left: 10px;
              width: 100px;
              height: 100px;
              opacity: 0;
              @include transition-property(opacity);
              @include transition-duration(100ms);
              &:hover {
                opacity: 1;
              }
            }
          }

        }
        .node-advert-sidebar,
        .node-special-content
        {
          position: relative;
          width: 180px;
          padding: 0px;
          background: red;
          img {
            width: 100% !important;
            height: auto !important;
          }
        }
      }
    }
  }
}

// SIDEBAR STANDARD FOOTER
.sb-1 .view-spike-issues.view-display-id-block_2 {
  margin: 20px auto 0 auto !important;
  //  margin: 60px auto 0 auto;
  img {
    @include box-shadow(rgba(black, 0.3), 3);
    max-width: 100%  !important;
    margin: 0px auto  !important;
  }
  .view-content {
    margin: 0px  !important;
    .views-row {
      width: 140px  !important;
      margin: 0px !important;
      height: 174px;
      //      margin-bottom: 0px  !important;
    }
  }
}
.sb-1 .view-spike-issues.view-display-id-block_2,
.sb-1 .view-spike-issues.view-display-id-block_2 .field-name-issue-image-compound,
.sb-1 .view-spike-issues.view-display-id-block_2 .field-name-issue-image-compound #side-1,
.sb-1 #block-views-exp-spike-search-page-1,
.sb-1 #block-views-exp-search-page--2,
#block-spike-layout-themeblock-social,
.sb-1 #search-block-form
{
  width: 140px !important;
//  height: 180px;
//  position: relative;
//  overflow: hidden;
}
// current issue block - sidebar
.sb-1 {
  .view-spike-issues.view-display-id-block_2 {
    .field-name-issue-image-compound {
      #flip-content {
        #side-1,
        #side-2 {
          width: 140px;
          min-width: 140px !important;
        }
        #side-2 {
          padding: 10px;
          text-align: center;
          font-size: 18px;
//          font-weight: bold;
          text-transform: uppercase;
          position: relative;
          .field-name-field-product {
            position: absolute;
            margin-top: 45px;
            button, input {
              font-size: 10px !important;
              width: 120px;
              margin-bottom: 1px;
              @include add-to-cart();
              font-size: 12px !important;
              line-height: 16px;
            }
          }
        }
      }
      img {
        width: 140px  !important;
        height: auto;
      }
    }
  }
}
#block-spike-layout-spike-subscribe-block,
#block-spike-newsletter-spike-subscribe-block
{
  .sidebar-subscribe

  {
    @include pill-style(#ddd, 20px, #000000);
    //    padding: 0;
    padding-top: 4px;
    text-transform: uppercase;
    background: #1EFF00 !important;
    //    font-size: .9em;
    width: 100%;
    margin: 0px;
    height: 25px;
    border: 0px;
  }
  width: 140px;
  margin: 20px auto;
  margin-top: 30px;
}
#block-spike-newsletter-spike-subscribe-block {
  margin-top: 0;
}

.page-search {
  .sb-1 #block-views-exp-search-page--2 {
    margin-bottom: 20px;
  }
}

#block-views-exp-spike-search-page-1--2,
.sb-1 #block-spike-search-spike-search-form,
.sb-1 #block-views-exp-spike-search-page-1,
.sb-1 #block-views-exp-search-page--2,
.sb-1 #block-views-exp-search-page,
.sb-1 #block-views-exp-search-page--2,
.sb-1 #search-block-form
{
  border-top: 1px solid darkgray;
  width: 100% !important;
  padding-top: 3px;
  margin-bottom: 20px;

  @include navbar-styler();
  .views-exposed-widgets {
    margin-bottom: 0px;
  }
  #edit-search-api-views-fulltext-wrapper input,
  #edit-keys-wrapper input,
  .input-group input
  {
    @include search-input();
    margin-bottom: 0px;
  }
  button {
    position: relative;
    top: -38px;
    left: 125px;
    float: right;
    //    display:none;
    .glyphicon {
      top: 2px;
    }
  }
}
/* this is an override - not sure why it's necessary.... */

.sb-1 #block-views-exp-search-page--2,
.sb-1 #block-views-exp-search-page {
  padding: 0 20px !important;
  #edit-input-wrapper {
    padding: 0px !important;
    padding: 20px 0 0 0 !important;
  }
  input {
    padding: 0px !important;
    width: 140px !important;
    height: 25px;
    text-transform: uppercase;
  }
  button, input, select, textarea {
  }
  *, *::before, *::after {
    box-sizing: content-box;
  }
  #edit-type-wrapper,
  .views-widget-sort-by,
  .views-widget-sort-order,
  .views-widget-filter-search_api_language,
  .views-widget-filter-field_online_bool,
  .views-submit-button

  {
    display: none;
    visibility: hidden;
  }
}
#block-spike-newsletter-spike-subscribe-block {
  a.sidebar-subscribe {
    background: #aaa !important;
    &:hover {
      color: white !important;
    }
  }
}
#block-spike-layout-themeblock-social {
  margin: 0px auto;
  ul, li {
    list-style: none;
    margin: 0px !important;
    padding: 0px !important;
    text-align: center;
  }
  li {
    display: inline-block;
    width: 1.65em;
    //    height: 35px;
    //    background: red;
    text-align: center;
    vertical-align: middle;
    i {
      color: #aaa;
      font-size: 1.5em;
    }
  }
}
#block-spike-layout-themeblock-copyright {
  margin-top: 10px;
  color: #aaa;
  font-size: .85em;
  text-align: center;
}

.page-node-2 {
  .sb-2 {
    .region {
      padding-right: 20px;
      padding-top: 130px;
    }
  }
}

/* MULTI CT SIDEBAR W/ SHARE NAV ETC
*/
/* image article sidebar exceptions */
.sb-2 {
  .field-name-content-type {
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .field-name-field-title-sub {
    text-transform: uppercase;
  }
  .field-name-image-counter {
    margin: 20px 0px 10px 0px!important;
  }
  .field-name-image-caption {
    margin-top: 15px;
  }
  .field-name-custom-pagination {
    ul, li {
      list-style: none;
      padding: 0px !important;
    }
    li {
      display: inline;
      font-size: 2em;
      font-weight: 100;
      color: #AEA9C2;
      &:hover {
        color: slategray !important;
      }

    }
    .glyphicon {
      //      font-size: 1.5em;
      //      font-weight: lighter;
      //      color: #AEA9C2;
      //      &:hover {
      //        color: slategray !important;
      //      }
    }
  }

  #block-spike-layout-spike-share {
    margin-top: 20px;
    .links-toggle {
      text-transform: uppercase;
      margin: 10px 0;
      &:hover {
        cursor: pointer;
        color: $gray2;
      }
    }
    #service-links {
      .service-links {
        ul, li {
          list-style: none;
          margin: 0px;
          padding: 0px 0px 15px 0px !important;
        }
        li.last {
          padding: 0px !important;
        }
      }
    }
  }
}


/* NODE PAGE STYLING
*/

.node-type-page {
  .sb-2 {
    margin-top: 150px;
    #block-spike-node-pages-page-sidebar-content {
      padding-right: 10px;
      a, a:link, a:visited {
        color: $gray2 !important;
        &:hover {
          //          color: black !important;
        }
      }
    }
  }
}
