/*
styling for elements w/ spike formations */

@mixin spike-shadow($deg) {
  @include transform(rotate($deg));
  //  background-image: url("/sites/all/themes/spike/images/black-up.svg");
  background-image: url("/sites/all/themes/spike/images/spikes/shadow-up-inverse.png");
  //  @include filter(blur(6px));
  //  @include opacity(0.6);
  //    @include transform(rotate(180deg));
  //  z-index: 1;
  //  top: 2px;
  display: block;
  width: 100%;
  position: absolute;
  height: 32px;
  content: '';
  background-position: right top;
  background-repeat: repeat-x;
}

.nav-mini-spikes {
  position: fixed !important;
  height: 234px;
  top: 0px;
  z-index: 7;
}
.splash-page {
  //  z-index: 5;
}

.nav-not-clone {
  display: none;
}

/*
BREAKPOINT DISPLAY
breakpoints are the 'quotation' elements b/w the articles
*/
.front {
  .front-top-spikes {
    position: relative;
    z-index: 6;
    &:after {
      display: block;
      position: relative;
      top: 0px;
      width: 100%;
      height: 22px;
      content: '';
      background-image: url("/sites/all/themes/spike/images/white-up-inverse.svg");
      background-position: right top;
      background-repeat: repeat-x;
      //    z-index: 999;
      //    left: -12.5px
    }
  }
  #front-top-shadow {
          display: none;
    position: absolute;
    @include spike-shadow(0deg);
    left: 1px;
    //    top: -3px !important;
    z-index: 5;
    margin-top: -4px;
    //    background-position: left top;
    background-position: right top;
    //    height: 30px;
  }
  #front-top-after {
    //  display: none;
    width: 100%;
    height: 15px;
    background: white;
    position: relative;
    margin-top: 22px;
    @include opacity(1);
    @include transform(blur(0px));
    z-index: 6;
    @include box-shadow(0px 10px 25px 8px rgba(255,255,255,1));
  }
}

/*m
SIDEBAR TOP SPIKES FOR SEAMLESS SCROLL
*/
.sidebar-standard {
  .sb-1 {
    //    &:before {
    //      width: 183px;
    //      position: relative;
    //      background-image: url("/sites/all/themes/spike/images/sb-bg-top-edge-left.png");
    //      background-position: right top;
    //      top: -20px;
    //    }
  }
  .sb-2 {
    &:before {

      background-image: url("/sites/all/themes/spike/images/sb-bg-top-edge-right2.png");
      //      background-image: url("/sites/all/themes/spike/images/sb-bg-top-edge-right.png");
      background-position: left top;
      width: 5px;
      top: -21px;
      z-index: 999;
      position: relative;
    }
  }
  .sb-2 {
    &:before {
      background-repeat: no-repeat;
      content: '';
      position: absolute;
      float: left;
      height: 25px;
      z-index: 998;
    }
    .region {
      z-index: 6;
      &:before {
        display: block;
        //        display: none;
        //        float: left;
        position: relative;
        top: -21px;
        width: 100%;
        height: 25px;
        content: '';
        background-image: url("/sites/all/themes/spike/images/grey-up-inverse.svg");
        background-position: right top;
        background-repeat: repeat-x;
        z-index: 999;
        //        border-bottom: 1px solid #ddd;
        border-bottom: 0px !important;
        //        background-color: inherit !important;
        //    left: -12.5px
      }
    }
  }
  .sb-1 {
    .region {
      &:before {
        left: 3px;
      }
    }
  }
}



.tile-breakpoint {
  @include breakpoint-display();
}

.bp-spike-before {
  width: 100%;
  top: 44px;
  position: relative;
  @include opacity(1);
  z-index: 2;
  height: 22px;
  content: '';
  //  @include transform(rotate(180deg));
  background-image: url("/sites/all/themes/spike/images/white-down.svg");
  //background-color: none !important;
  background-repeat: repeat-x;
  background-position: left top;
}
.shadow-top {
  top: 22px;
  left: -2px;
  //  @include transform(rotate(0deg));
  background-image: url("/sites/all/themes/spike/images/spikes/shadow-down.png");
  z-index: 1;
  display: block;
  width: 100%;
  height: 22px;
  content: '';
  background-position: left bottom;
  background-repeat: repeat-x;
  position: relative;
}

.node-quotation.view-mode-full {
  @include box-shadow(0px 0px 25px 25px rgba(255,255,255,1));
}

.bp-spike-after {
  width: 100%;
  position: relative;
  @include opacity(1);
  //    display: none;
  display: block;
  top: -19px;
  height: 25px;
  content: '';
  background-image: url("/sites/all/themes/spike/images/white-up-inverse.svg");
  background-color: none !important;
  background-repeat: repeat-x;
  background-position: left bottom;
  z-index: 1;
}
.shadow-bottom {
  top: -45px;
  left: -2px;
  @include transform(rotate(0deg));
  background-image: url("/sites/all/themes/spike/images/spikes/shadow-up-inverse.png");
  //  @include filter(blur(6px));
  //  @include opacity(0.6);
  //    @include transform(rotate(180deg));
  z-index: 0;
  display: block;
  width: 100%;
  position: relative;
  height: 22px;
  content: '';
    background-position: left top;
  background-repeat: repeat-x;
  //  position: relative;
  //  z-index: -1;
  //  background-color: none !important;
  //  @include transform(rotate(180deg));
  //  display: none;
}


.tile-breakpoint {
  @include breakpoint-display();
  .shadow-top { left: -5px; }
  .shadow-bottom { left: 4px; }
  @media (max-width: 414px) {
    .shadow-bottom { left: 2px; }

  }
}





// hacky implementation of spike svg colors via body classes set in js.js
// quick & dirty solution... could be improved
// yellow
#sticky-cover {
  background-image: url("/sites/all/themes/spike/images/white-up-inverse.svg");
}


#sticky-cover {
  margin-bottom: 0px !important;
  //  display: none;
  display: block;
  position: absolute;
  width: 100%;
  height: 21px;
  content: ' ';
  @include transform(rotate(180deg));
  background-position: right top;
  background-repeat: repeat-x;
  z-index: 999;
}
.sticky-footer-seperator {
  z-index: 3 !important;
}
#sticky-shadow {
  @include spike-shadow(180deg);
  left: 2px;
  top: -4px;
}

.node-type-issue,
.node-type-edition {
  .sticky-footer {
    .view {
//      margin-left: -30px;
    }
    .views-row {
      .field-name-issue-image-compound {
        height: 375px;
        position: relative;
        .field-items {
          position: absolute;
          bottom: 0;
          vertical-align: bottom !important;
        }
      }
    }
    .field-name-field-product {
      visibility: hidden;
    }
  }
}
.page-shop,
.node-type-article,
.node-type-image-article
{
  #sticky-cover {
    background-image: url("/sites/all/themes/spike/images/white-up-inverse.svg");
  }
  // recommended
  .spike-banded-element {
    top: -44px;
    .bp-spike-after,
    .shadow-bottom,
    .pane-title
    {
      display : none;
    }

  }
}
.page-shop {
  #spikes-recommend {
    background: white;
    width: 100%;
    //    margin-top: -5px;
    #sticky-cover {
      background-image: url("/sites/all/themes/spike/images/white-up-inverse.svg");
      @include transform(rotate(0deg));
      z-index: 6 !important;
      position: relative;
      top: -21px;
    }
    #sticky-shadow {
      @include transform(rotate(0deg));
      //      display: none;
      background-image: url("/sites/all/themes/spike/images/spikes/shadow-up-inverse.png");
      z-index: 5  !important;
      position: relative;
      top: -47px;
      clip: rect(0px,26px,20px,0px);
      height: 26px;
      //      overflow: ;
      //    height: 25px;
      //    height: 32px;
    }
  }
}



.sticky-footer {
//  background: yellow;
  margin-top: 0px !important;
  padding-top: 60px;
  z-index: 2 !important;
  .sticky-bg-cover {
    background-color: white;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 10%;
    position: fixed;
    opacity: 0;
  }
  .view-more-issues {
    text-align: center;
    margin: 0 auto !important;
  }
}
//// color coding for sticky footer w/ js assigned bg color
//.color-code-0F0FFF {
//  .file-icon:before {
//    border-color: #0F0FFF #0F0FFF rgba(255,255,255,.35) rgba(255,255,245,.35);
//  }
//}
//.color-code-1EFF00 {
//  .file-icon:before {
//    border-color: #1EFF00 #1EFF00 rgba(255,255,255,.35) rgba(255,255,245,.35);
//  }
//}
//.color-code-FF5C99 {
//  .file-icon:before {
//    border-color: #FF5C99 #FF5C99 rgba(255,255,255,.35) rgba(255,255,245,.35);
//  }
//}
//.color-code-FFFF96 {
//  .file-icon:before {
//    border-color: #FFFF96 #FFFF96 rgba(255,255,255,.35) rgba(255,255,245,.35);
//  }
//}


.node-type-issue,
.node-type-edition,
.page-shop {
  // seperator
  .spike-banded-element {
    .inside {
      h2 { display: none; }
      .shadow-bottom,
      .bp-spike-after {
        display: none;
      }
      .breakpoint-shadow.shadow-top {
        left: -9px;
      }
    }
  }
  .sticky-footer {
    h2 {
      padding-bottom: 30px;
    }
    background-color: #1EFF00 !important;
    padding-bottom: 30px;
  }
  .spiked-band.invert:after {
    top: -49px;
  }
}
