//@import "compass/css3";
@import "compass";
/*
 * VARS
 */
$gray1: #f4f3f3;
$gray2: #aea9c1;
$aqua: #1EFF00; // changed to green
$brown1: #eae8d3;
$green: #1EFF00;
$green2: #77fe00;
$grayGian: #e6e1c8;
$blue1: #5effc1;

body {
  //  display: none;
}

// var colors = ['#0F0FFF', '#FFFF96', '#1EFF00', '#FF5C99'];
// width for teasers - should be the same as image style
$teaserW: 400px;
$sidebarW: 180px;

/* FONTS
*/
@font-face {
  font-family: logoTitle;
  src: url(../fonts/spike_regular-webfont.woff2) format('woff2'),
    url(../fonts/spike_regular-webfont.woff) format('woff'),
    /* Modern browsers */
    url(../fonts/spike_regular-webfont.ttf) format('truetype'),
    /* Safari, Android, iOS */
    url(../fonts/spike_regular-webfont.svg#ObelixPro) format('svg');
  /* Legacy iOS */
}

//@font-face {
//  font-family: hlRegular;
//  src: url(../fonts/spike_regular-webfont.woff);
//}
//@font-face {
//  font-family: hlItalic;
//  src: url(../fonts/spike_italic-webfont.woff);
//}
//@font-face {
//  font-family: hlBold;
//  src: url(../fonts/spike_bold-webfont.woff);
//}
//@font-face {
//  font-family: hlBoldItalic;
//  src: url(../fonts/spike_bold_italic-webfont.woff);
//}
@font-face {
  /* FOLIO LIGHT */
  font-family: folioLight;
  src: url(../fonts/web_font_kit_folio/foliolig-webfont.eot);
  src: url(../fonts/web_font_kit_folio/foliolig-webfont.eot#iefix) format('embedded-opentype'),
    url(../fonts/web_font_kit_folio/foliolig-webfont.woff) format('woff'),
    /* Modern browsers */
    url(../fonts/web_font_kit_folio/foliolig-webfont.ttf) format('truetype');
  /* Safari, Android, iOS */
}

@font-face {
  /* FOLIO MEDIUM */
  font-family: folioMed;
  src: url(../fonts/web_font_kit_folio/foliomed-webfont.eot);
  src: url(../fonts/web_font_kit_folio/foliomed-webfont.eot#iefix) format('embedded-opentype'),
    url(../fonts/web_font_kit_folio/foliomed-webfont.woff) format('woff'),
    /* Modern browsers */
    url(../fonts/web_font_kit_folio/foliomed-webfont.ttf) format('truetype');
  /* Safari, Android, iOS */
}

// sticky footer dl link indicator
.dl-link {
  color: $gray2;
  cursor: pointer;
}

body {
  font-family: folioLight, arial, sans-serif;

  .sb- {

    a,
    a:link,
    a:active {
      text-decoration: none !important;
      //text-decoration: no-underline !important;
    }
  }

  a:focus {
    color: black !important;
  }
}

.field-name-title h4 {
  font-family: folioMed, arial, sans-serif;
}

h1,
h2 {
  font-size: 28px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: folioMed, arial, sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
}

strong {
  font-family: folioMed, arial, sans-serif;
}

/* CONTENT TITLES
*/
.node-type-article,
// .node-type-edition,
.node-type-issue,
.sticky-footer,
.node-type-image-article {
  h2.pane-title {
    font-family: folioMed, arial, sans-serif;
    font-size: 30px;
    // padding: 0 0 30px 0 !important;
  }
}

.node-type-issue {
  h2.pane-title {
    margin: 0 0 40px 0 !important;
  }
}

.sb-,
.sb- input {
  font-family: 'Ubuntu light 300', arial, sans-serif !important;
  font-size: 13px !important;
}

/*
 * MIXINS
 */
// HEADER BACKGROUND
@mixin header-background {
  // needs latest Compass, add '@import "compass"' to your scss
  background-color: #707070; // Old browsers
  @include filter-gradient(#707070, #6b6b6b, vertical); // IE6-9
  @include background-image(linear-gradient(top, #707070 0%, #b7b7b7 50%, #6b6b6b 100%));
}

// PILL STYLE
@mixin pill-style($bg, $bg-h, $text-color) {
  font-family: 'Ubuntu light 300', arial, serif;
  padding: 4px 15px 3px 15px;
  //  margin: 10px 0px 10px 0px;
  //  margin-bottom: 10px;
  background: $bg !important;
  font-size: 13px;
  //  line-height: 1.2em;
  position: relative;
  @include border-radius(12px);
  @include transition-property(background);
  @include transition-duration(200ms);
  //  &:hover {
  //    background: $bg-h !important;
  //    text-decoration: none !important;
  //    color:$text-color !important;
  //  }
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  //  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.6), 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);

  &:hover,
  &:focus,
  &:active {
    //    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.6), 0 0 1px rgba(0, 0, 0, 0);
    //    color: $gray2 !important;
  }
}

@mixin cont-auto-center() {
  width: 80% !important;
  margin: 0px auto 0px auto;

  //  padding: 0 60px;
  .tiled-row,
  .views-row {
    //    width: $teaserW;
    display: inline-block;
    vertical-align: top;

    //    margin: 60px 60px 0 0
    //    margin-bottom: 60px;
    .field-type-image {
      text-align: center;
    }
  }
}

@mixin breakpoint-display() {
  width: 100%;
  margin-bottom: 60px;
  //  img {}
}

@mixin navbar-styler() {

  input,
  button,
  a {
    height: 25px;
    background: white;
    //    color: slategray  !important;
  }

  #edit-keys-wrapper,
  .form-type-textfield {
    padding: 0px;

    input {
      text-align: center;
      border: 0px;
      width: 180px;
      line-height: normal !important;
      @include border-radius (15px);
      //      @include border-radius (15px 0 0 15px);
    }
  }

  a {
    text-align: center;
    border: 0px;
    width: 180px;
    @include border-radius (15px);
  }

  .views-submit-button {
    padding: 0px;

    button {
      display: none;
      //      @include border-radius (0 15px 15px 0);
      //      padding: 2px 10px !important;
      ////      border: 2px solid #dce4ec;
      //      border: 0px;
      //      border-left: 0px;
      //      margin: 0px;
      //      span {
      //        color: slategray;
      //        padding: 0px;
      //      }
    }
  }
}

@mixin issue-shadow {
  @include box-shadow(rgba(black, 0.2) 0px 2px 6px 2px);
}

@mixin add-to-cart {
  background-color: #ddd;
  border-color: #ddd;
  text-transform: uppercase;
  color: black;
  @include pill-style(#ddd, 27px, #000000);
  padding: 2px 15px;

  &:hover {
    color: $gray2;
  }
}

@mixin article-thumbs {
  //  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  margin: 0px auto;
  margin-top: -60;

  //    background: $aqua;
  .field-name-field-image,
  .field-type-ds {
    padding: 60px 200px 0px 200px;
    margin-bottom: 30px;
    //      width: 960px;
    width: 100% !important;

    .field-items {
      text-align: center;

      .field-item {
        vertical-align: top;
        //        vertical-align: middle;
        margin: 0px 30px 60px 30px;
        //        width: 250px;
        display: inline-block;

        img {

          //          position: relative;
          //          width: 100%;
          //          height:
          //          max-height: 167px !important;
          //          width: auto;
          &:hover {
            cursor: pointer;
          }
        }

        .image-field-caption {
          display: none;
        }
      }
    }
  }

  .field-name-body {
    //    width: 640px;
    margin: 0px auto;
    padding-bottom: 30px;

    p {
      font-size: 16px;
      line-height: 22px;
      //      margin-bottom: 1.6em;
    }
  }
}

@mixin sidebar-position {
  width: 180px !important;
  //  .region-sidebar-first, .region-sidebar-second {
  //  }
}

@mixin breakpoint($point) {
  @if $point==papa-bear {
    @media (max-width: 1600px) {
      @content;
    }
  }

  @else if $point==mama-bear {
    @media (max-width: 1250px) {
      @content;
    }
  }

  @else if $point==baby-bear {
    @media (max-width: 650px) {
      @content;
    }
  }
}

@mixin content-tooth-style {

  // taken from example
  // http://codepen.io/madebyjam/pen/zmBen
  // more comtents
  img[data-mask] {
    /* hide original imgs */
    visibility: hidden;
  }

  .no-js img[data-mask] {
    /* show original imgs for non JS users */
    /* requires '<html class="no-js">' setup as seen in the HTML5 boilerplate */
    visibility: visible;
  }

  .svgMask image {
    /* IE fix */
    visibility: visible;
  }
}

@mixin bottom-edge-tooth($color) {
  z-index: 5;

  &:after {
    $path: "/sites/all/themes/spike/images/spikes/edge-dn-gray.png";

    @if $color==red {
      $path: "/sites/all/themes/spike/images/spikes/edge-dn-red-spring.png";
    }

    @else if $color==yellow {
      $path: "/sites/all/themes/spike/images/spikes/edge-dn-yellow-summer.png";
    }

    @else if $color==gold {
      $path: "/sites/all/themes/spike/images/spikes/edge-dn-gold-autumn.png";
    }

    @else if $color==green {
      $path: "/sites/all/themes/spike/images/spikes/edge-dn-green-winter.png";
    }

    @else if $color==white {
      $path: "/sites/all/themes/spike/images/spikes/edge-dn-white.png";
    }

    display: block;
    position: relative;
    width: 100%;
    height: 30px;
    bottom: -28px;
    content: '';
    background-image: url($path);
    background-repeat: repeat-x;
  }
}

@mixin top-edge-tooth($color) {
  z-index: 2;

  &:before {
    $path: "../images/spikes/edge-dn-gray.png";

    @if $color==white {
      $path: "../images/spikes/edge-dn-white.png";
    }

    //    } @else if $color == yellow {
    //      $path: "../images/spikes/edge-dn-yellow-summer.png";
    //    } @else if $color == gold {
    //      $path: "../images/spikes/edge-dn-gold-autumn.png";
    //    } @else if $color == green {
    //      $path: "../images/spikes/edge-dn-green-winter.png";
    //    } @else if $color == white {
    //      $path: "../images/spikes/edge-dn-white.png";
    //    }
    @include transform(rotate(180deg));
    display: block;
    position: relative;
    width: 100%;
    //    height: 30px;
    //    top: -28px;
    content: '';
    background-image: url($path);
    background-repeat: repeat-x;
    //    margin-bottom: 60px;
    //    height: 700px;
    //    background-position: bottom left;
  }

  //  background-size: (29px 30px);
}

@mixin vertical-align() {
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
}

// THEME EFFECTS
.mascott-scroll-down {
  display: none;
}

/*
TURN JS */
.image-flipper .turn-page {
  background-repeat: no-repeat;
  position: relative;
  height: 100%;

  .other-page-wrapper,
  .next-wrapper {
    position: absolute;
    width: 50%;
    height: 100%;
    display: inline-block;
  }

  .other-page-wrapper {
    // background: $gray2;
    border: 1px dotted grey;
    left: 0;
  }

  .next-wrapper {
    .inner {
      position: relative;
      top: 50%;
      transform: translateY(-50%);

      .node {
        margin-left: -5px;

        img {
          @include issue-shadow();
        }
      }

      h4 {
        margin-top: 20px;

        a {
          padding: 50px;
        }
      }
    }
  }
}

#colorbox {
  @include box-shadow(15px -1px 9px -7px rgba(0, 0, 0, 0.5));

  //  top: 0px !important;
  //  height: 100% !important;
  #cboxWrapper,
  #cboxContent {
    //    height: 100% !important;
  }
}

#cboxClose {
  width: 0px !important;
  height: 0px !important;

  &:after {
    content: url('../images/x_button.png');
    z-index: 9999;
    width: 25px;
    height: 25px;
    position: absolute;
    margin-left: -30px;
    margin-top: -15px;
  }

  //    top: -6px;
  //  padding-bottom: 17px;
}

#cboxContent,
.cboxPhoto {
  @include border-radius(0px !important);
}

#cboxClose.cbox-close-plain,
#cboxOverlay {
  background: rgba(white, 0.8);
  color: black;
  font-size: inherit;
}

.cboxPhoto {}

.node-type-edition {
  #colorbox {
    top: 0px !important;
    position: fixed !important;
    width: 100% !important;
    height: 100% !important;
    max-width: 100% !important;
    max-height: 100% !important;

    #cboxWrapper {
      position: relative !important;
      width: 100% !important;
      height: 100% !important;
      max-width: 100% !important;
      max-height: 100% !important;

      #cboxContent {
        position: relative !important;
        ;
        width: 100% !important;
        height: 100% !important;
        max-width: 100% !important;
        max-height: 100% !important;

        #cboxLoadedContent {
          position: relative !important;
          ;
          width: 100% !important;
          height: 100% !important;
          max-width: 100% !important;
          max-height: 100% !important;

          img {
            @include box-shadow(15px -1px 9px -7px rgba(0, 0, 0, 0.5));
            position: relative !important;
            max-width: 100% !important;
            max-height: 100% !important;
            width: auto !important;
            height: auto !important;
          }
        }
      }
    }
  }
}

.field-type-file {
  .field-items {
    margin: 0 auto 60px auto;
    text-align: center;

    .field-item {
      width: 300px;
      text-align: center;
      display: inline-block;

      .file-icon {
        position: relative;
        //        left: 50%;
        //        @include transform(translateX(50%));
        //        display: inline-block;
        //        float: left;
        margin: 0 auto;
      }

      h4 {
        clear: both;
        padding-top: 30px;
      }
    }
  }
}

.not-logged-in {
  .contextual-links-wrapper {
    display: none;
  }
}

@mixin opacity($opacity, $important: 0) {
  @if $important==1 {
    opacity: $opacity !important;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie) !important; //IE8
  }

  @else {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
  }
}

//.some-class
//@include opacity(1); // without !important
//
//.some-class
//@include opacity(1,1); // with !important
