/* import compass */
@import "compass";
@import "ceaser-easing";

@import "var";

/* import partials */
@import "articles";
@import "body";
@import "commerce";
@import "front";
@import "forms";
@import "grid";
@import "issues";
@import "menu";
@import "navbar";
@import "pages";
@import "info_pages";
@import "shop";
@import "search";
@import "sidebars";
@import "spikes";
@import "overrides";

@import "responsive";

/* PRINT DISPLAY OVERRIDES
 * HIDE STRUCTURAL ELEMENTS / EVERYTHING BUT THE CONTENT
*/
@mixin hiddenCompletely {
  display: none;
  visibility: hidden;
  position: absolute;
  top: -10000px;
  left: -10000px;
  height: 0;
  width: 0;
  @include opacity(0);
}

.pane-service-links-service-links,
.sticky-footer-loadmore,
#bar-toggle,
#block-system-user-menu,
.nav-tabs,
.front-top-spikes,
.front-top-shadow,
.front-top-after,
#cookie-compliance,
#service-links,
#block-spike-lang-language-control {
  @include hiddenCompletely;
}

h2.pane-title {
  padding-top: 50px;
  position: unset;
  display: block;

  &:before {
    content: 'Spike';
    font-family: logoTitle, arial, sans-serif;
    font-size: 1em;
    position: absolute;
    top: 0px;
    right: 50px;
  }
}

a.colorbox {
  position: unset !important;
  display: block !important;
  padding-bottom: 50px;

  img {
    position: unset !important;
    display: block !important;
    padding-bottom: 5px !important;
  }

  blockquote.image-field-caption {
    display: block !important;
    position: unset !important;
    float: none !important;
    padding-bottom: 100px !important;

  }
}

.field-name-field-blurb {
  display: block !important;
  // padding-top: 100px;
}

img,
.field-name-field-image img,
.field-name-field-image,
.turn-page img,
.turn-page {
  max-height: 450px !important;
  max-width: 100% !important;
  width: auto !important;
  page-break-inside: avoid !important;
  display: block !important;
  margin: 0 auto !important;
}

.legacy-caption-article .field-name-first-img-cap,
.field-name-first-img-cap {
  display: none;
}

.page-node.node-type-article #block-system-main .node-article.view-mode-full .field-name-body {
  margin-top: 100px !important;
}

@media print {
  a[href]:after {
    content: none !important;
  }

  .page-node.node-type-article #block-system-main .node-article.view-mode-full .field-name-body {
    margin-top: 100px !important;
  }

  /* this solves the "A" problem in Chrome and Safari print preview */
  body {
    font-family: Arial, Helvetica, sans-serif !important;
  }

}
