.sf-clone-parent
  display none
  height 0
  width 0


sfToggleImgFormatter()

.main-menu-mobile, .page-menu-mobile
  margin 58px 0 0 0
  line-height 1.5em


.main-menu-mobile
  #superfish-1-toggle
    &:after
      background none


+below('m')
  header
    .block
      clear both
    ul.menu.sf-accordion
      li.sf-no-children
        clear both
        a
          float left

      // FIRST LEVEL MENU ELEMENTS
      li.menuparent.sf-expanded
        background-color $theme_grey_litest


      > li // SECOND LEVEL MENU ITEM
        ul > li
          a
            padding 17px 20px
        a
          padding 17px 20px
          img
            width 50px


  .main-menu-mobile
    .content
      // hide menu title & home link
      .sf-accordion-toggle a span
      #superfish-1-accordion li:first-child
        display none

      .sf-accordion-toggle
        a
          width 35px
          height 35px
          position absolute
          top -30px
          left 15px
          &:after
            content url("../images/main-menu-toggle.png")

        a.sf-expanded
          &:after
            content url("../images/main-menu-toggle-out.png")

  // STATIC COLORING FOR FUTURE DYNAMIC THEME VARIABLES?

  .main-menu-mobile
    .content
      ul.menu

        li.menuparent.sf-expanded
          background-color white
          ul
            background-color white
            box-sizing border-box
            padding 0 15px
            menu-sub-item-style-mobile()
            clear both
            li
              margin-bottom 6px

  // THIS IS THE SETTING FOR MULTIPLE COLUMNS IN 2ND LEV MENU (FIRST DROPDOWN,
  // 'THERAPIEGEBIETE'
  .sf-menu
    li.menuparent
      lost-utility clearfix;
      li.sf-depth-2
        a
          width 100%

  .page-menu
    .block-title
      display none
    .content
      .sf-accordion-toggle
        position relative
        height 100%
        a
          display block
          padding 15px 20px


.page-menu-mobile
  li.sf-depth-1
  li.sf-depth-2
  li.sf-depth-3
    border-left 0
  .sf-depth-4
    margin-left 15px
  .sf-depth-5
    margin-left 25px


// FULL SIZE MENU
.main-menu-full
.page-menu-full
  box-sizing border-box
  position relative
  top -50px
  .content
    ul.sf-menu
      >li a
        padding 17px 20px 0 0
      >li.menuparent
        ul
          background-color white
          a
            line-height 1.1rem

          >ul
            margin-top 0

.page-menu-full
  box-sizing border-box
  height $headerTopH
  .content
    height $headerTopH
    position relative
    ul.sf-menu
      height $headerTopH
      >li.menuparent
        >ul
          margin-top 13px
          +below(1170px)
            margin-top 14px
          +below(960px)
            margin-top 15px
        li a
          padding 7px 5px 7px 10px
        ul
          padding 7px 0
          background-color $theme_grey_lite

.main-menu-full
  height 48px
  .content
    ul.sf-menu
      >li.menuparent
        ul
          box-sizing content-box
          menu-sub-item-style()
          width 600px !important
          padding 7px
          li
            display inherit
            width 50%
            float left
          .sf-clone-parent
            display none !important

.page-menu-full
  height $headerTopH
  .content
    .block-title, ul, li
      box-sizing border-box
      float left
    .block-title
      padding 10px 15px 0  0
    > ul > li
      margin-left 10px
      &:first-child
        margin-left 15px

.page-menu
  border-top 2px solid $theme_main
  ul, li
    background inherit

footer
  text-align center
  +above('m')
    text-align left


.menu-line-1
  dynBorderTop($menu_orange)
.menu-line-2
  dynBorderTop($menu_blue)
.menu-line-3
  dynBorderTop($menu_red)
.menu-line-4
  dynBorderTop($menu_green)
.menu-line-5
  dynBorderTop($menu_yellow)
.menu-line-6
  dynBorderTop(pink)
.menu-line-7
  dynBorderTop(brown)
.menu-line-8
  dynBorderTop(red)

.menu-bg-1
  dynMenuBG($menu_orange, white)
  sfToggleImgFormatterColorModifier(white)
.menu-bg-2
  dynMenuBG($menu_blue, white)
  sfToggleImgFormatterColorModifier(white)
.menu-bg-3
  dynMenuBG($menu_red, white)
  sfToggleImgFormatterColorModifier(white)
.menu-bg-4
  dynMenuBG($menu_green, white)
  sfToggleImgFormatterColorModifier(white)
.menu-bg-5
  dynMenuBG($menu_yellow, white)
  sfToggleImgFormatterColorModifier(white)
.menu-bg-6
  dynMenuBG(pink, white)
  sfToggleImgFormatterColorModifier(white)
.menu-bg-7
  dynMenuBG(brown, white)
  sfToggleImgFormatterColorModifier(white)
.menu-bg-8
  dynMenuBG(red, white)
  sfToggleImgFormatterColorModifier(white)


