// BASE STYLES
//

body
  font-family $body_font

ul, li
  list-style  none
  margin  0px
  padding 0px





// MIXINS
//
//

inline-list()
 li
   display inline-block
   padding 0

comma-list()
  inline-list()
  li
    &:after
      content ', '
    &:last-child:after
      content ''

font_style_header()
  text-transform  uppercase
  letter-spacing  3px

font_style_footer()
  text-transform  uppercase
  letter-spacing  1px
  font-weight 600

menu-border()
  border-bottom 1px solid $theme_grey_lite

$borderW = 3px
menu-sub-item-style()
  li.sf-depth-2
    box-sizing border-box
    &:hover
      &:after
        width 60px
    &:after
      content ''
      display block
      width 30px
      margin-top 5px
      transition width 200ms ease
  li.sf-item-1
    &:after
      border-bottom $borderW solid $menu_orange
  li.sf-item-2
    &:after
      border-bottom $borderW solid $menu_blue
  li.sf-item-3
    &:after
      border-bottom $borderW solid $menu_green
  li.sf-item-4
    &:after
      border-bottom $borderW solid $menu_red
  li.sf-item-5
    &:after
      border-bottom $borderW solid $menu_yellow
  li.sf-item-6
    &:after
      border-bottom $borderW solid $menu_purple
  li.sf-item-7
    &:after
      border-bottom $borderW solid pink

menu-sub-item-style-mobile()
  li
    box-sizing border-box
    width 50%
    float left
    clear none
  +below('s')
    li
      width 100% !important

  li.sf-item-1
    border-left: $borderW solid $menu_orange
  li.sf-item-2
    border-left: $borderW solid $menu_blue
  li.sf-item-3
    border-left: $borderW solid $menu_green
  li.sf-item-4
    border-left: $borderW solid $menu_red
  li.sf-item-5
    border-left: $borderW solid $menu_yellow
  li.sf-item-6
    border-left: $borderW solid $menu_purple
  li.sf-item-7
    border-left: $borderW solid pink


header-image-fw-styles()
  background-size cover
  background-position 50% 50%
  height $headerImgH1
  +above('m')
    height $headerImgH2


// dynamic menu coloration
dynBorderTop($c1)
  $c1d = darken($c1, 15%)
  #page
    border-top 5px solid $c1
    +below('m')
      border-top 0

  .breadcrumb
  .breadcrumb a
  .breadcrumb a:link
  .breadcrumb a:visited
    color $c1
    &:hover
      color $c1d

dynMenuBG($c1, $c2)
  $c1d = darken($c1, 15%)
  .page-menu-full
    border-top none
    background-color $c1d
    ul.sf-menu
      background-color $c1
      border-left 2px solid $c2
      ul
        background-color $c2
  .page-menu-full
    .block-title, .sf-depth-3 > a
      color $c2

  .page-menu-mobile
    border-top 0
    a, a:link, a:visited
      color white
    .sf-accordion-toggle
      background-color $c1d
    ul.menu
      background-color $c1
    ul.menu.sf-accordion > li.menuparent.sf-expanded
        padding-bottom 0
    .sf-expanded.sf-depth-3
      a, a:link, a:visited
        color $theme_grey
      a:hover
        color $c1d

  .menu-bg-el
    top -0
    height $headerTopH
    width 60%
    background-color $c1
    position absolute
    right 0


sfToggleImgFormatter()
  .main-menu-mobile, .page-menu-mobile
    .sf-accordion-toggle > a
    li.menuparent > a
      &:after
        content ' '
        width 30px
        height 28px
        display block
        background-image url('../svg/chevron-dark.svg')
        background-repeat  no-repeat
        float right
        background-size 75% 75%
        position  relative
        top -7px

  .main-menu-mobile,
  .page-menu-mobile
    li.menuparent.sf-expanded
      > a:after
        transform rotate(180deg)
        margin-right 8px

  .page-menu-mobile .sf-accordion-toggle a.sf-expanded
    &:after
      transform rotate(180deg)
      margin-right 8px

sfToggleImgFormatterColorModifier(white)
  .page-menu-mobile
    .sf-accordion-toggle > a:after
    li.menuparent > a:after
      background-image url('../svg/chevron-light.svg')
    li.menuparent.sf-expanded a:after
      background-image url('../svg/chevron-dark.svg')

