body
  display inherit
  border none

.node-teaser
  .group-left
    lost-column 1/3
  .group-right
    lost-column 2/3
.node.view-mode-full
  +above('l')
    .group-left
      lost-column 2/3
      margin-bottom 20px
    .group-right
      padding 10px
      lost-column 1/3

#main
  .node.view-mode-full
    margin-bottom 60px
    .field-tags
      margin-bottom 20px
      .field-label
        margin-bottom 10px
      .field-item
        display inline-block
        border 1px solid $theme_grey
        padding 2px 12px
        margin-right 10px
        margin-bottom 10px

.page-node.node-type-article
.page-node.node-type-article-protected
  #block-system-main


      .field-type-image
        clear both
        .field-items
          lost-utility: clearfix;
          .field-item
            position relative
            margin-bottom 10px
            overflow hidden
            +above('m')
              lost-column 1/2
            +above('xl')
              lost-column 1/3