.node-type-campaign
.page-node-1 #main #content #content-area
  .para-item
    background-size 100% auto
    background-repeat no-repeat
    p
      margin 0 auto
      +above('xl')
        width 100%

    .content
      position relative
      width 100%
      height auto

      p, h1, h2, h3, h4, h5, .columns
        width 100%
        +below('m')
          text-align center
        +above('ll')
          width 600px
          margin 0 auto
        +above('xl')
          width 875px
          margin 0 auto



// CUSTOM FOR TK FRONT
  .field-type-paragraphs
    >.field-items

      >.field-item:nth-child(1)
        .para-item.bg-wrapper
          h4.h-purple
            text-transform inherit
          h1
            margin-bottom 60px
          background-position 0 -30px
          padding-top 120px
          +above('s')
            padding-top 180px
          +above('m')
            background-position 0 -80px
            padding-top 260px
          +above('l')
            background-position 0 -230px
            padding-top 180px


      >.field-item:nth-child(5)
        .para-item.bg-wrapper
          background-position 0 -201px

      >.field-item:nth-child(6)
        .para-item.bg-wrapper
          background-position 0 101px
          .content .field
            .inline-wrapper
            
              margin 0 auto
              +above('l')
                width 75%
              p
                margin 0
                width 100%
              +above('l')
                .inline-el
                  display inline-block
                  vertical-align top
                .inline-el:first-child
                  max-width 230px
                  margin-right 50px
                .inline-el:last-child
                  display: inline-block
                  width 50%


