
// .full-size-menu
// .full-size-menu .menu-toggle

.main-menu-mobile
.page-menu-mobile
.logo-block-mobile
  display none
  width 100%

+below('m')
  .main-menu-full
  .page-menu-full
  .logo-block-full
    display none

  .main-menu-mobile
  .page-menu-mobile
  .logo-block-mobile
    display inherit

  .logo-block-mobile
    position absolute
    top 0
    a
      position absolute
      top: 0
      right 0
      height $headerTopH
      img
        width 85px
        height auto
        vertical-align bottom
        position absolute
        right 0
        bottom 3px
        margin-right 15px




.mobile-size-menu
  ul.menu
    margin 5px 0 0 5px
    li
      display block
      padding-bottom 15px


// MAIN BODY SPACING WITH AUTO MARGINS
// & RESPONSIVE WIDTHS

responsive-content-spacing()
  margin 0 auto
  width $page_W_l
  +below(1400px)
    width $page_W
  +below(1175px)
    width $tablet_W
  +below(875px)
    width $tablet_S
  +below(650px)
    width $mobile_W
  +below(520px)
    width $mobile_s

header .block .content
footer .inner
#main .block .content
.node.node-campaign .field-type-paragraphs .field-item .bg-wrapper .content > .field
  position relative
  responsive-content-spacing()

#main .fw-content.block .content
.fw-content.block .content
.node.node-campaign .field-type-paragraphs .field-item .bg-wrapper .content .fw-content.field
  width 100%
  margin 0
  img
    width 100%
    height auto

+below('m')
  header .block .content
    width 100%
