header
  background-color pink
#main
  background-color #ddd
footer
  background-color yellow


// rupture.scale = 0 400px 600px 800px 1050px 1800px
// rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 'hd'

// +below('s')

// body styles

#content
  background-color grey

footer
//  background-color

h1
//  color red
//  font-size responsive
//  font-weight normal
//  +below(700)
//    color blue