////////////
// RESET //
//      //
html
  background white

body
  margin 0px
  font-family 'Open Sans', sans-serif
  fill currentColor

#page
  background-color $theme_grey_lite
  +below('m')
    background-color white



div
header
footer
header a
header ul
header li
  box-sizing border-box

.node .field .field-item img
  width 100%
  height auto

.site-name-block
  position fixed
  bottom 0
  right 0
  #site-name
    position absolute
    height 0
    width 0
    opacity 0
    overflow hidden
    float left

h1
  margin-bottom 20px

h1, h2, h3, h4, h5, h6
  margin 0
  padding 0
  font-weight 400
  letter-spacing 2.5px
  color $theme_grey_darkest

ul.menu li
  margin 0
  padding 0
  list-style-image none
  list-style-type none

/////////////////////////////
// TEXT SIZE & COLORATION //
//                       //
body
  color $theme_grey_dark
  font-family $body_font
  font-size $size_base
  line-height 1.7rem

.body-font-small
  font-size responsive $size_sm3 $size_sm2
  letter-spacing 2px
  text-transform uppercase

p
  padding-bottom 10px

a, a:link, a:visited
  text-decoration none
  color $theme_grey
a:hover
  color black
a
  transition all 100ms ease

header
  font_style_header()

header, footer
  font-size responsive $size_sm2 $size_sm1
header
  .page-menu
    font-size responsive $size_sm3 $size_sm2



header
  background-color white
  .sf-menu li.sf-depth-2
  .page-menu .sf-depth-4
    font-size $size_sm3
  .page-menu
    font-range ll lll
      +below(ll)
        letter-spacing 0




.main-menu, .page-menu
  font-weight 600
  a, a:link, a:visited
    color $theme_grey_dark
  a:hover
    color $theme_grey
  a.active
    color $theme_grey_dark
      &:hover
        color $theme_grey


.main-menu
  li:first-child
    a.active
      color $theme_grey_dark
      &:hover
        color $theme_grey

.page-menu
  .sf-accordion-toggle
    color $theme_orange

.content-info
  .content
    color $theme_grey
    .field.field-type-taxonomy-term-reference
      font-weight 600

.breadcrumb
.breadcrumb a, .breadcrumb a:visited
  color $theme_grey
  a
    &:hover
      color $theme_grey_dark


footer
  background-color $theme_grey_lite
  font_style_footer()
  font-range m hd
  a:hover
    color $theme_grey_dark

#main
  font-size: responsive $size_sm1 $size_base_large;
  font-weight 200
  letter-spacing 1px


h1, h2, h3
  text-transform uppercase
  margin-bottom 10px

h4, h5, h6
  margin-bottom: 5px

h1
  font-weight 500
  font-size 10vw
  line-height 10vw
  margin-bottom 20px
  +above('m')
    font-size responsive 3rem 3.6rem
    line-height 125%

h2
  font-size responsive 1.7rem 2rem
  line-height 2rem
h3
  font-size responsive 1.2rem 1.5rem
  line-height 1.5rem
h4, h5, h6
  font-size responsive 1rem 1.3rem
  line-height 1.4rem


.node-type-campaign.page-node
  #block-system-main .content
    .node.view-mode-full
      h1
        font-size responsive 3.6rem 11.3rem
        line-height 100%
      h4
        font-size responsive 1.2rem 2.4rem
        line-height 120%
        margin-bottom 20px

.node.view-mode-full
  .field .tkd-label
    color $theme_grey
    letter-spacing 2px
    margin-bottom 10px


#main .field-type-image
  a, a:hover
    text-decoration none
    border-bottom none

.left
  text-align left
.right
  text-align right
.justified
  text-align justify
.center
  text-align center
div.link
  padding-top 20px !important
  color $theme_orange
  width 100%
  clear both
  a, a:hover
    color $theme_orange
    border-bottom 0 none!important
div.link a.download
    min-height 20px
    padding-left 25px
    background transparent url('../images/icon-download.png') scroll no-repeat 0 50%
