html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  margin-left: 40px;
  margin-top: 40px;
}
@page {
  margin: auto 150px auto 300px;
}
body {
  font-size: 12pt;
//  font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
  font-family: 'Cormorant Garamond', serif;
  line-height: 100%;
  letter-spacing: 0.5px;
  padding: 0 0 150px 0;
  margin-top: -30px;
  .invoice {
    width: 634px;
//    padding: 40px;
    .invoice-invoiced {
      .header {
        width: 100%;
        img {
          width: 200px;
          height: auto;
          margin-left: -30px;
        }
        table {
          width: 100%;

        }
        td {
          width: 50%;
          vertical-align: top;
        }
      }

    }
    hr {
//      display: none;
      color: black;
      width: 1px;
    }
    #addressee {
      clear: both;
      margin-top: 50px;
      .customer {
        margin-bottom: 50px;
      }
      .customer-title, .customer {
//        width: 50%;
//        float: right;
//        clear: both;
        .field-type-commerce-customer-profile-reference {
          .field-label { display: none; }
        }
        .field-name-field-vat-nr {
          .field-label, .field-items {
            display: inline-block;
          }
          .field-label {
            width: 55px;
          }
          margin-left: 80px;
          font-size: 12px;
        }
      }
    }
    .invoice-header-date {
      clear: both;
    }
    .invoice-number {
      font-weight: bold;
      text-transform: uppercase;
    }
    .line-items {
      text-align: left;
      .view-commerce-line-item-table {
        .views-table {
          width: 100%;
          th { padding-bottom: 15px; }
          .views-field-line-item-title,
          .views-field-commerce-unit-price,
          .views-field-quantity,
          .views-field-commerce-total {
            font-weight: normal;
            text-align: left;
          }
          .views-field-quantity { width: 25%; }
          .views-field-commerce-unit-price { width: 15%; }
          .views-field-line-item-title { width: 60%; }
          .views-field-commerce-total { display: none; }
          padding-bottom: 15px;
        }
      }
    }
    .order-total {
      margin-bottom: 30px;
      border-top: 1px solid black;
      table {
        tr:nth-child(1) {
          text-transform: uppercase
        }
        tr {
          td:nth-child(1) { width: 25%}
          td:nth-child(2) { width: 60%}
          td:nth-child(3) { width: 15%}
        }
        td {
          border-bottom: 1px solid black;
          padding: 15px 0;
          margin: 0;
          .el-inner {
//            width: 50%;
//            float: right;
          }
        }
        width: 100%;
        .total-title,
        .total-element
        {
          text-transform: uppercase;
          font-weight: bold;
        }
      }
    }

    .invoice-header-date,
    .invoice-number,
    .invoice-text
    {
      margin-bottom: 30px;
    }
    .invoice-text
    {
      margin-bottom: 0px;
    }
    .terms {
      font-size: 11px;
      padding-top: 20px;
    }

  }
  .contextual-links-wrapper, .contextual-links {
    display: none;
    position: relative;
    width: 0;
    height: 0;
    visibility: hidden;
    @include opacity(0);
  }
  .order-total-inner {
    .order-total-el {
      border-bottom: 1px solid black;
      padding: 30px 0;
      .el-inner {
        display: inline-block;
      }

    }
  }
}
.invoice-footer#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0px;
  height: 150px;
  font-size: 12px;
      margin-top: 60px;
  width: 640px;
  margin-left: 38px;
  line-height: 125%;
  padding: 20px 0;
  table {
    width: 100%;
    td {
      vertical-align: bottom;
      width: 30%;
    }
    td:nth-child(2) {
      text-align: center;
    }
    td:nth-child(3) {
      text-align: right;
    }
  }
}