@font-face {
  font-family: logoTitle;
  src: url(../../spike/fonts/spike_regular-webfont.woff2) format('woff2'),
       url(../../spike/fonts/spike_regular-webfont.woff) format('woff'), /* Modern browsers */
       url(../../spike/fonts/spike_regular-webfont.ttf)  format('truetype'), /* Safari, Android, iOS */
       url(../../spike/fonts/spike_regular-webfont.svg#ObelixPro) format('svg'); /* Legacy iOS */
}
@font-face { /* FOLIO MEDIUM */
  font-family: folioMed;
  src: url(../../spike/fonts/web_font_kit_folio/foliomed-webfont.eot);
  src: url(../../spike/fonts/web_font_kit_folio/foliomed-webfont.eot#iefix) format('embedded-opentype'),
      url(../../spike/fonts/web_font_kit_folio/foliomed-webfont.woff) format('woff'), /* Modern browsers */
       url(../../spike/fonts/web_font_kit_folio/foliomed-webfont.ttf)  format('truetype'); /* Safari, Android, iOS */
}
@font-face { /* FOLIO LIGHT */
  font-family: folioLight;
  src: url(../../spike/fonts/web_font_kit_folio/foliolig-webfont.eot);
  src: url(../../spike/fonts/web_font_kit_folio/foliolig-webfont.eot#iefix) format('embedded-opentype'),
       url(../../spike/fonts/web_font_kit_folio/foliolig-webfont.woff) format('woff'), /* Modern browsers */
       url(../../spike/fonts/web_font_kit_folio/foliolig-webfont.ttf)  format('truetype'); /* Safari, Android, iOS */
}
h2 {
  font-family: logoTitle, sans-serif;
}
h1, h3, h4, h5, h6 {
  font-family: folioMed, sans-serif;
}
div, span, a, p {
  font-family: folioLight, sans-serif;
}

