/* import compass */
@import 'compass';


// editor menu
#block-system-user-menu {
  //  display: none;
  z-index: 555;
  h2 {
    display: none;
  }
  position: fixed !important;
  top: 0px !important;
  right: 0px !important;
  ul {
    background: rgba(#000000, 0.4);
    //    float: right;
    @include border-radius(0px 0px 0px 5px);
    border: 2px solid #aaa;
    border-top: none;
    border-right: none;
    li {
      display: inline-block;
      a {
        padding: 10px;
//        background: #ccc !important;
        font-size: .8em;
        text-transform: uppercase;
        &:hover {
          background: rgba(0,0,0, 0);
        }
      }
      a, a:link, a:visited {
        color: #ccc !important;
      }
    }
    li.first a {
      @include border-radius(0px 0px 0px 2px);
    }
  }
}




// general form spacing
.page-node-edit, .page-node-add, .page-node-clone {
//  #block-system-main {
//    margin: 0 100px;
//  }
  .group-left > div {
    padding-right: 10px;
  }
  .group-right > div {
    padding-left: 10px;
  }
  .group-header,
  .group-left,
  .group-right,
  .group-footer {
//    padding: 0px 20px 20px 0px;
  }
  .field-name-field-image {
    .cke_top {
      height: 30px !important;
      overflow: hidden;
    }
    .filter-wrapper {
      display: none;
    }
    td {
      padding-bottom: 50px;
    }
  }
  .field-name-field-image {
    .image-widget-data {
      .form-type-textfield {
        display: none;
      }
    }
  }
}

.page-node-edit.node-type-advert-content,
.page-node-add-advert-content {
  .field-name-field-online-bool {
    display: none;
  }

}

.wysiwyg-toggle-wrapper,
.ckeditor_links

 {
  display: none !important;
}

.center { text-align: center; }
.left { text-align: left; }

.right { text-align: right; }

.node-article-form {
  .field-name-field-ads > * tbody tr td:nth-child(2) {
    div,
    input {
      display: inline;
    }
  }
}