@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\000031}}
html, body { margin: 0px; padding: 0px; width: 100%; margin-left: 40px; margin-top: 40px; }

@page { margin: auto 150px auto 300px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\0000311}}
body { font-size: 12pt; font-family: 'Cormorant Garamond', serif; line-height: 100%; letter-spacing: 0.5px; padding: 0 0 150px 0; margin-top: -30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\0000319}}
body .invoice { width: 634px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\0000323}}
body .invoice .invoice-invoiced .header { width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\0000325}}
body .invoice .invoice-invoiced .header img { width: 200px; height: auto; margin-left: -30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\0000330}}
body .invoice .invoice-invoiced .header table { width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\0000334}}
body .invoice .invoice-invoiced .header td { width: 50%; vertical-align: top; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\0000341}}
body .invoice hr { color: black; width: 1px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\0000346}}
body .invoice #addressee { clear: both; margin-top: 50px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\0000349}}
body .invoice #addressee .customer { margin-bottom: 50px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\0000357}}
body .invoice #addressee .customer-title .field-type-commerce-customer-profile-reference .field-label, body .invoice #addressee .customer .field-type-commerce-customer-profile-reference .field-label { display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\0000359}}
body .invoice #addressee .customer-title .field-name-field-vat-nr, body .invoice #addressee .customer .field-name-field-vat-nr { margin-left: 80px; font-size: 12px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\0000360}}
body .invoice #addressee .customer-title .field-name-field-vat-nr .field-label, body .invoice #addressee .customer-title .field-name-field-vat-nr .field-items, body .invoice #addressee .customer .field-name-field-vat-nr .field-label, body .invoice #addressee .customer .field-name-field-vat-nr .field-items { display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\0000363}}
body .invoice #addressee .customer-title .field-name-field-vat-nr .field-label, body .invoice #addressee .customer .field-name-field-vat-nr .field-label { width: 55px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\0000371}}
body .invoice .invoice-header-date { clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\0000374}}
body .invoice .invoice-number { font-weight: bold; text-transform: uppercase; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\0000378}}
body .invoice .line-items { text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\0000381}}
body .invoice .line-items .view-commerce-line-item-table .views-table { width: 100%; padding-bottom: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\0000383}}
body .invoice .line-items .view-commerce-line-item-table .views-table th { padding-bottom: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\0000384}}
body .invoice .line-items .view-commerce-line-item-table .views-table .views-field-line-item-title, body .invoice .line-items .view-commerce-line-item-table .views-table .views-field-commerce-unit-price, body .invoice .line-items .view-commerce-line-item-table .views-table .views-field-quantity, body .invoice .line-items .view-commerce-line-item-table .views-table .views-field-commerce-total { font-weight: normal; text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\0000391}}
body .invoice .line-items .view-commerce-line-item-table .views-table .views-field-quantity { width: 25%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\0000392}}
body .invoice .line-items .view-commerce-line-item-table .views-table .views-field-commerce-unit-price { width: 15%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\0000393}}
body .invoice .line-items .view-commerce-line-item-table .views-table .views-field-line-item-title { width: 60%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\0000394}}
body .invoice .line-items .view-commerce-line-item-table .views-table .views-field-commerce-total { display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\0000399}}
body .invoice .order-total { margin-bottom: 30px; border-top: 1px solid black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\00003102}}
body .invoice .order-total table { width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\00003103}}
body .invoice .order-total table tr:nth-child(1) { text-transform: uppercase; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\00003107}}
body .invoice .order-total table tr td:nth-child(1) { width: 25%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\00003108}}
body .invoice .order-total table tr td:nth-child(2) { width: 60%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\00003109}}
body .invoice .order-total table tr td:nth-child(3) { width: 15%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\00003111}}
body .invoice .order-total table td { border-bottom: 1px solid black; padding: 15px 0; margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\00003121}}
body .invoice .order-total table .total-title, body .invoice .order-total table .total-element { text-transform: uppercase; font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\00003130}}
body .invoice .invoice-header-date, body .invoice .invoice-number, body .invoice .invoice-text { margin-bottom: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\00003136}}
body .invoice .invoice-text { margin-bottom: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\00003140}}
body .invoice .terms { font-size: 11px; padding-top: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\00003146}}
body .contextual-links-wrapper, body .contextual-links { display: none; position: relative; width: 0; height: 0; visibility: hidden; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\00003155}}
body .order-total-inner .order-total-el { border-bottom: 1px solid black; padding: 30px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\00003158}}
body .order-total-inner .order-total-el .el-inner { display: inline-block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\00003165}}
.invoice-footer#footer { position: fixed; left: 0; bottom: 0; right: 0px; height: 150px; font-size: 12px; margin-top: 60px; width: 640px; margin-left: 38px; line-height: 125%; padding: 20px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\00003177}}
.invoice-footer#footer table { width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\00003179}}
.invoice-footer#footer table td { vertical-align: bottom; width: 30%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\00003183}}
.invoice-footer#footer table td:nth-child(2) { text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ibt\/Sites\/devdesktop\/spikeartmagazine\.com\/sites\/all\/themes\/spike\/pdf\/scss\/_pdf\.scss}line{font-family:\00003186}}
.invoice-footer#footer table td:nth-child(3) { text-align: right; }
