@function unite($list, $glue: ", ") {
  @if length($list)==1 {
    @return $list;
  }

  @else {
    $string: "";

    @each $item in $list {
      @if $string !="" {
        $string: $string + $glue;
      }

      $string: $string+$item;
    }

    @return $string;
  }
}
