img.borealis {
  width: 100%;
}

div.borealis {
  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  -ms-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}
div.borealis.loading {
  opacity: 0;
}
div.borealis.loaded {
  opacity: 1;
}
