// See /subjects page.
.pager {
  visibility: visible;
  opacity: 1;
  padding-left: 0;
  margin: 20px 0;
  text-align: center;
  list-style: none;

  li>a,
  li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 15px;
  }
}

.view-spike-front-page {
  .pager {
    visibility: hidden;
    opacity: 0;
  }
}
