$multi: ".views-exposed-widgets",
"#block-views-exp-spike-search-page-1",
"#block-views-exp-spike-search-page-1--2";

#{unite($multi)} {
  text-align: center;
  margin-bottom: 0;

  .views-exposed-widget,
  #edit-keys-wrapper {
    padding: 0;

    label {
      display: none;
    }

    input {
      @include search-input();
      height: 25px;
      border: 1px solid darkgray !important;
      text-align: center;
      width: 200px;
      margin: 10px 0;
    }

    .form-type-select {
      select {
        font-size: .9em;
        text-transform: uppercase;
        border: 1px solid darkgray !important;
        height: 35px;
      }
    }
  }

  .views-submit-button {
    display: block !important;

    button {
      padding: 4px 10px;
      margin-top: 0 !important;
      background: none;
      color: slategray;
      padding-top: 0.5em;

      &:hover {
        background-color: slategray;
        color: white;
      }

    }
  }
}

@include above(m) {}
