// See /subjects

$pad_side_small: 40px;

.view.views-search-page {
  .view-content {
    margin: 30px $pad_side_small 30px $pad_side_small;
    display: flex;
    flex-wrap: wrap;

    .glossary-row {
      @include break-inside(avoid);
      text-align: left;
      padding: 0 5px 20px 5px;
      width: 50%;


      .alpha {
        text-transform: capitalize;
        padding-bottom: 20px;
      }

      .field-name-title {
        .field-item {
          a {
            padding-left: 1em;
            text-indent: -1em;
            display: block;
          }
        }
      }
    }
  }
}

@include above(m) {
  .view.views-search-page {
    .view-filters {
      .views-exposed-form {
        .views-exposed-widget {
          input[type=text] {
            width: 400px;
          }
        }
      }
    }

    .view-content {
      .glossary-row {
        width: 33%;
      }
    }
  }
}

$pad_side_large: 70px;

@include above(l) {
  .view.views-search-page {
    .view-content {
      margin: 30px $pad_side_large 60px $pad_side_large;
    }
  }
}


$pad_side_xl: 220px;

@include above(xl) {
  .view.views-search-page {
    .view-content {
      margin: 30px $pad_side_xl 60px $pad_side_xl;

      .glossary-row {
        // width: 25%;
      }
    }
  }
}
