/* import compass */
/* line 6, ../scss/operator-menu-style.scss */
#block-system-user-menu {
  z-index: 555;
  position: fixed !important;
  top: 0px !important;
  right: 0px !important;
}
/* line 9, ../scss/operator-menu-style.scss */
#block-system-user-menu h2 {
  display: none;
}
/* line 15, ../scss/operator-menu-style.scss */
#block-system-user-menu ul {
  background: rgba(0, 0, 0, 0.4);
  -moz-border-radius: 0px 0px 0px 5px;
  -webkit-border-radius: 0px;
  border-radius: 0px 0px 0px 5px;
  border: 2px solid #aaa;
  border-top: none;
  border-right: none;
}
/* line 22, ../scss/operator-menu-style.scss */
#block-system-user-menu ul li {
  display: inline-block;
}
/* line 24, ../scss/operator-menu-style.scss */
#block-system-user-menu ul li a {
  padding: 10px;
  font-size: .8em;
  text-transform: uppercase;
}
/* line 29, ../scss/operator-menu-style.scss */
#block-system-user-menu ul li a:hover {
  background: transparent;
}
/* line 33, ../scss/operator-menu-style.scss */
#block-system-user-menu ul li a, #block-system-user-menu ul li a:link, #block-system-user-menu ul li a:visited {
  color: #ccc !important;
}
/* line 37, ../scss/operator-menu-style.scss */
#block-system-user-menu ul li.first a {
  -moz-border-radius: 0px 0px 0px 2px;
  -webkit-border-radius: 0px;
  border-radius: 0px 0px 0px 2px;
}

/* line 51, ../scss/operator-menu-style.scss */
.page-node-edit .group-left > div, .page-node-add .group-left > div, .page-node-clone .group-left > div {
  padding-right: 10px;
}
/* line 54, ../scss/operator-menu-style.scss */
.page-node-edit .group-right > div, .page-node-add .group-right > div, .page-node-clone .group-right > div {
  padding-left: 10px;
}
/* line 64, ../scss/operator-menu-style.scss */
.page-node-edit .field-name-field-image .cke_top, .page-node-add .field-name-field-image .cke_top, .page-node-clone .field-name-field-image .cke_top {
  height: 30px !important;
  overflow: hidden;
}
/* line 68, ../scss/operator-menu-style.scss */
.page-node-edit .field-name-field-image .filter-wrapper, .page-node-add .field-name-field-image .filter-wrapper, .page-node-clone .field-name-field-image .filter-wrapper {
  display: none;
}
/* line 71, ../scss/operator-menu-style.scss */
.page-node-edit .field-name-field-image td, .page-node-add .field-name-field-image td, .page-node-clone .field-name-field-image td {
  padding-bottom: 50px;
}
/* line 77, ../scss/operator-menu-style.scss */
.page-node-edit .field-name-field-image .image-widget-data .form-type-textfield, .page-node-add .field-name-field-image .image-widget-data .form-type-textfield, .page-node-clone .field-name-field-image .image-widget-data .form-type-textfield {
  display: none;
}

/* line 86, ../scss/operator-menu-style.scss */
.page-node-edit.node-type-advert-content .field-name-field-online-bool,
.page-node-add-advert-content .field-name-field-online-bool {
  display: none;
}

/* line 92, ../scss/operator-menu-style.scss */
.wysiwyg-toggle-wrapper,
.ckeditor_links {
  display: none !important;
}

/* line 99, ../scss/operator-menu-style.scss */
.center {
  text-align: center;
}

/* line 100, ../scss/operator-menu-style.scss */
.left {
  text-align: left;
}

/* line 102, ../scss/operator-menu-style.scss */
.right {
  text-align: right;
}

/* line 106, ../scss/operator-menu-style.scss */
.node-article-form .field-name-field-ads > * tbody tr td:nth-child(2) div,
.node-article-form .field-name-field-ads > * tbody tr td:nth-child(2) input {
  display: inline;
}
